<template>
  <div>
    <div class="wrapper">
      <div
        style="display: flex;align-items: center;justify-content: space-between;margin-bottom: 30px;"
      >
        <a
          style="font-weight: normal;color: #999;display: flex;align-items: center;"
          href="javascript:void(0)"
          @click="back_checkout"
        >
          <img style="width: 20px;margin-right: 5px;" :src="Back" /> Quay
          lại
        </a>
      </div>
      <div class="title_cart-top" style="text-align: left;margin-bottom:20px">
        <h3>Giỏ hàng của bạn</h3>
        <span v-if="info && info.length > 0">Bạn đang có {{quanlityLength}} sản phẩm trong giỏ hàng</span>
      </div>
      <div v-if="info && info.length > 0">
        <form class="cart table-wrap small--hide--smb">
          <table class="cart-table full table--responsive">
            <thead class="cart__row cart__header-labels">
              <th colspan="2" class="text-center">Thông tin chi tiết sản phẩm</th>
              <th class="text-center">Đơn giá</th>
              <th class="text-center">Số lượng</th>
              <th class="text-right" style="padding-right: 45px;">Tổng giá</th>
            </thead>

            <tbody>
              <tr v-for="item in info" v-bind:key="item.id" class="cart__row table__section">
                <td>
                  <div v-if="item.variant.product.images == null" class="cart__image">
                    <img :src="img" />
                  </div>
                  <div v-else>
                    <img :src="item.variant.product.images[0].source" />
                  </div>
                </td>
                <td>
                  <h5
                    class="h4"
                    style="font-weight: bold;margin-bottom: 5px;margin-top: 0;"
                  >{{ item.variant.product.name }}</h5>
                  <br />
                  <small>{{ item.variant.name }}</small>
                </td>
                <td class="text-center">
                  <span class="h3">{{ formatPrice(item.variant.price) }} đ</span>
                </td>
                <td>
                  <div class="up_dow">
                    <a
                      class="dow"
                      href="javascript:void(0)"
                      v-on:click="preview(item.variant.id, item.quantity)"
                    >-</a>
                    <input
                      style="max-width:60px"
                      type="number"
                      @change="getabc(item.variant.id, item.quantity)"
                      v-model.number="item.quantity"
                      name="updates[]"
                      :min="min"
                      :max="max"
                    />

                    <a
                      class="up"
                      href="javascript:void(0)"
                      v-on:click="next(item.variant.id, item.quantity)"
                    >+</a>
                  </div>
                </td>
                <td class="text-right" style="padding-right:0">
                  <span>
                    {{
                    formatPrice(item.quantity * item.variant.price)
                    }}đ
                  </span>
                  <a href="#" class="cart__remove cart_item">
                    <small></small>
                  </a>

                  <span class="cart-item__discount"></span>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="grid cart__row">
            <div class="total_allcart">
              <div style="text-align: right;">
                <div class="total_cart">
                  <p>Tổng tiền phải trả :</p>
                  <span>{{ formatPrice(sum_price)}} đ</span>
                </div>
              </div>
            </div>
            <div class="grid__item" style="text-align: right;">
              <router-link :to="{ name: 'Checkout', params: { token: cartToken } }">
                <button class="btn">Thanh toán</button>
              </router-link>
            </div>
          </div>
        </form>
        <form class="cart table-wrap mobile--hide">
          <div class="grid__item">
            <div class="title">Thông tin giỏ hàng</div>
            <div v-for="item in info" v-bind:key="item.id" class="cart__section">
              <div v-if="item.variant.product.images == null" class="cart__image">
                <img :src="img" />
              </div>
              <div class="cart__image" v-else>
                <img :src="item.variant.product.images[0].source" />
              </div>
              <div class="content_cart">
                <h5
                  class="h4"
                  style="font-weight: bold;margin-bottom: 5px;margin-top: 0;"
                >{{ item.variant.product.name }}</h5>
                <small>{{ item.variant.name }}</small>

                <div class="up_dow">
                  <a
                    class="dow"
                    href="javascript:void(0)"
                    v-on:click="preview(item.variant.id, item.quantity)"
                  >-</a>
                  <input
                    style="max-width:60px"
                    type="number"
                    @change="getabc(item.variant.id, item.quantity)"
                    v-model.number="item.quantity"
                    name="updates[]"
                    :min="min"
                    :max="max"
                  />

                  <a
                    class="up"
                    href="javascript:void(0)"
                    v-on:click="next(item.variant.id, item.quantity)"
                  >+</a>
                </div>
              </div>
              <div class="sp6">
                <span class="h3">{{ formatPrice(item.variant.price) }} đ</span>
              </div>
            </div>
          </div>
          <div class="grid cart__row">
            <div class="grid__item" style="text-align: right;">
              <div class="total_allcart">
                <div style="text-align: right;">
                  <div class="total_cart">
                    <p>Tổng tiền phải trả :</p>
                    <span>{{ formatPrice(sum_price)}} đ</span>
                  </div>
                </div>
              </div>
              <router-link :to="{ name: 'Checkout', params: { token: cartToken } }">
                <button class="btn">Thanh toán</button>
              </router-link>
            </div>
          </div>
        </form>
        <div class="delete_popup">
          <b-modal :active.sync="showDelete" :width="560" scroll="keep" animation="zoom-in">
            <div class="search_data no-data">
              <h4>Xóa sản phẩm</h4>
              <a href="javascript:void(0)" @click="showDelete = false" v-on:click="getCart()">
                <img :src="Close" />
              </a>
            </div>
            <div class="card">
              <h3 style="text-align: center;font-weight: bold;">Bạn chắc chắn muốn xóa sản phẩm chứ?</h3>
              <div style="text-align: right;margin-bottom: 15px;margin-top: 15px;">
                <a
                  style="font-size: 12px;background: #29B6E2;color: #fff !important;padding: 10px 15px;border-radius: 10px;margin-right: 5px"
                  href="javascript:void(0)"
                  @click="DeleteCart()"
                  v-on:click="showdeleteAdress = false"
                >Đồng ý</a>
                <a
                  style="font-size: 12px;background: #ccc;color: #fff !important;padding: 10px 15px;border-radius: 10px;"
                  href="javascript:void(0)"
                  @click="showDelete = false"
                  v-on:click="getCart()"
                >Hủy</a>
              </div>
            </div>
          </b-modal>
        </div>
      </div>
      <div v-else style="text-align: left">
        Giỏ hàng trống .Tiếp tục mua sản phẩm
        <router-link
          :to="{name: 'Collections',params: { collectionId: collection_Id, shopId: shopId }}"
        >Tại đây</router-link>
      </div>
    </div>
  </div>
</template>
<style lang="scss">
@import "../style.scss";
</style>
<script>
import { HTTP } from "../httpService/http-common";
import axios from "axios";
import Back from "../assets/arrow-left.svg";
import Home from "../assets/home.svg";
import Close from "../assets/x.svg";
export default {
  name: "Cart",
  data() {
    return {
      data: "abc",
      Back: Back,
      Close: Close,
      cartToken: null,
      info: { type: Object, default: () => ({}) },
      img: null,
      variantId: null,
      shopId: null,
      collection_Id: null,
      quanlity: null,
      max: null,
      min: 0,
      showDelete: false,
      sum_price: 0,
      quanlityLength:0,
    };
  },
  created() {
    this.cartToken = localStorage.getItem("token");
    this.shopId = localStorage.getItem("shopId");
    this.collection_Id = localStorage.getItem("collectionId");
    this.getCart();
  },
  methods: {
    back_checkout() {
      history.back();
    },
    formatPrice(value) {
      let val = (value / 1).toFixed(0).replace(".", ",");
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    },
    next(id, quantity) {
      quantity += 1;
      this.getabc(id, quantity);
    },
    preview(id, quantity) {
      if (quantity > 1) {
        quantity -= 1;
        this.getabc(id, quantity);
      } else {
        quantity -= 1;
        this.variantId = id;
        this.getabc(id, quantity);
      }
    },
    async getCart() {
      if (this.cartToken) {
        await HTTP.get("/cart" + "?token=" + this.cartToken).then((data) => {
          this.info = data.data.cart.items;
          for (var i = 0; i < data.data.cart.items.length; i++) {
            this.img = data.data.cart.items[i].variant.product.images[0].source;
            this.quanlity = data.data.cart.items[i].quantity;
            this.quanlityLength += data.data.cart.items[i].quantity;
            console.log(this.quanlityLength)
            this.max = data.data.cart.items[i].variant.inventoryQuantity;
            this.sum_price +=
              data.data.cart.items[i].variant.price *
              data.data.cart.items[i].quantity;
            console.log(this.sum_price);
          }
        });
        return;
      }
    },
    async getabc(id, quantity) {
      if (this.cartToken && quantity > 0) {
        await HTTP.put("/cart/items/" + id + "?token=" + this.cartToken, {
          quantity: quantity,
        }).then((data) => {
          this.sum_price = 0;
          this.quanlityLength = 0;
          this.getCart();
        });
        return;
      } else {
        for (var i = 0; i < this.info.length; i++) {
          if (id == this.info[i].variant.id) {
            this.info[i].quantity = quantity;
          }
        }
        this.showDelete = true;
      }
    },
    async DeleteCart(id) {
      if (this.variantId) {
        await HTTP.delete(
          "/cart/items/" + this.variantId + "?token=" + this.cartToken
        ).then((data) => {
          this.showDelete = false;
          this.getCart();
          localStorage.removeItem("token");
        });
        return;
      }
    },
  },
};
</script>
