<template>
  <div class="wrapper">
    <div class="innner">
      <div class="search_data3" style="margin-bottom:20px">
        <input
          class="form-control"
          type="text"
          v-model="searchQuerycollections"
          placeholder=" Tìm kiếm sản phẩm"
        />
        <div class="sort_product">
          <span>Sắp xếp</span>
          <select class="eda-form-input" v-model="sort_" @change="getListProducts()">
            <option value="manual">Tùy chọn</option>
            <option
              v-for="sort in listSort"
              :value="sort.name"
              v-bind:key="sort.id"
            >{{ sort.title }}</option>
          </select>
          <div class="filter_display" @click="filterMobile()">
            <span>Bộ lọc</span>
            <a href="javascript:void(0)">
              <i class="fa fa-sort" aria-hidden="true"></i>
            </a>
          </div>
          <div class="filter_popup">
            <b-modal :active.sync="showfilterPopup" :full-screen="fullcreen">
              <div class="search_data no-data">
                <a href="javascript:void(0)" @click="showfilterPopup = false">
                  <img :src="Close" />
                </a>
                <h4>Bộ lọc</h4>
              </div>
              <div class="content_popup">
                <b-collapse class="card" animation="slide" aria-id="contentIdForA11y6">
                  <div
                    slot="trigger"
                    slot-scope="props5"
                    class="card_new"
                    role="button"
                    aria-controls="contentIdForA11y6"
                  >
                    Nhóm sản phẩm
                    <a class="card-header-icon">
                      <b-icon :icon="props5.open ? 'menu-down' : 'menu-up'"></b-icon>
                    </a>
                  </div>
                  <div class="content_fillter_ul">
                    <ul v-for="collection in listAllCollections" :key="collection.id">
                      <li>
                        <a
                          href="javascript:void(0)"
                          @click="renderCollection(collection.id)"
                        >{{ collection.title }}</a>
                      </li>
                    </ul>
                  </div>
                </b-collapse>
                <b-collapse class="card" animation="slide" aria-id="contentIdForA11y3">
                  <div
                    slot="trigger"
                    slot-scope="props"
                    class="card_new"
                    role="button"
                    aria-controls="contentIdForA11y3"
                  >
                    Lọc theo khoảng giá
                    <a class="card-header-icon">
                      <b-icon :icon="props.open ? 'menu-down' : 'menu-up'"></b-icon>
                    </a>
                  </div>
                  <div class="content_fillter">
                    <b-radio
                      v-model="radio"
                      @input="changeTest()"
                      name="name"
                      :native-value="[0, 0]"
                      type="is-info"
                    >Tất cả</b-radio>
                    <b-radio
                      v-model="radio"
                      @input="changeTest()"
                      name="name"
                      type="is-info"
                      :native-value="[1000, 300000]"
                    >Từ 0đ - 300,000đ</b-radio>
                    <b-radio
                      v-model="radio"
                      @input="changeTest()"
                      name="name"
                      type="is-info"
                      :native-value="[300000, 500000]"
                    >Từ 300,000đ - 500,000đ</b-radio>
                    <b-radio
                      v-model="radio"
                      type="is-info"
                      @input="changeTest()"
                      name="name"
                      :native-value="[500000, 1000000]"
                    >Từ 500,000đ - 1,000,000đ</b-radio>
                    <b-radio
                      v-model="radio"
                      @input="changeTest()"
                      type="is-info"
                      name="name"
                      :native-value="[1000000]"
                    >Lớn hơn 1,000,000đ</b-radio>
                  </div>
                </b-collapse>
                <b-collapse class="card" animation="slide" aria-id="contentIdForA11y5">
                  <div
                    slot="trigger"
                    slot-scope="props1"
                    class="card_new"
                    role="button"
                    aria-controls="contentIdForA11y5"
                  >
                    Loại sản phẩm
                    <a class="card-header-icon">
                      <b-icon :icon="props1.open ? 'menu-down' : 'menu-up'"></b-icon>
                    </a>
                  </div>
                  <div class="content_fillter">
                    <div>
                      <div class="input_" v-for="typeProd in uniqueType" :key="typeProd">
                        <input
                          v-if="typeProd"
                          type="checkbox"
                          :value="typeProd"
                          @change="fff"
                          v-model="selectedLocations"
                        />
                        <span class="checkbox-label" v-if="typeProd">{{typeProd}}</span>
                      </div>
                    </div>
                  </div>
                </b-collapse>
                <b-collapse class="card" animation="slide" aria-id="contentIdForA11y6">
                  <div
                    slot="trigger"
                    slot-scope="props2"
                    class="card_new"
                    role="button"
                    aria-controls="contentIdForA11y6"
                  >
                    Thương hiệu
                    <a class="card-header-icon">
                      <b-icon :icon="props2.open ? 'menu-down' : 'menu-up'"></b-icon>
                    </a>
                  </div>
                  <div class="content_fillter">
                    <div>
                      <div class="input_" v-for="vendorProd in uniqueVendor" :key="vendorProd">
                        <input
                          v-if="vendorProd"
                          type="checkbox"
                          :value="vendorProd"
                          @change="fff1"
                          v-model="selectedLocations1"
                        />
                        <span class="checkbox-label" v-if="vendorProd">{{vendorProd}}</span>
                      </div>
                    </div>
                  </div>
                </b-collapse>
              </div>
            </b-modal>
          </div>
        </div>
      </div>
      <div class="grid-uniform">
        <div class="grid__item grid__item_30 collection_filter">
          <b-collapse class="card" animation="slide" aria-id="contentIdForA11y6">
            <div
              slot="trigger"
              slot-scope="props5"
              class="card_new"
              role="button"
              aria-controls="contentIdForA11y6"
            >
              Nhóm sản phẩm
              <a class="card-header-icon">
                <b-icon :icon="props5.open ? 'menu-down' : 'menu-up'"></b-icon>
              </a>
            </div>
            <div class="content_fillter_ul">
              <ul v-for="collection in listAllCollections" :key="collection.id">
                <li>
                  <a
                    href="javascript:void(0)"
                    @click="renderCollection(collection.id)"
                  >{{ collection.title }}</a>
                </li>
              </ul>
            </div>
          </b-collapse>
          <b-collapse class="card" animation="slide" aria-id="contentIdForA11y3">
            <div
              slot="trigger"
              slot-scope="props"
              class="card_new"
              role="button"
              aria-controls="contentIdForA11y3"
            >
              Lọc theo khoảng giá
              <a class="card-header-icon">
                <b-icon :icon="props.open ? 'menu-down' : 'menu-up'"></b-icon>
              </a>
            </div>
            <div class="content_fillter">
              <b-radio
                v-model="radio"
                @input="changeTest()"
                name="name"
                :native-value="[0, 0]"
                type="is-info"
              >Tất cả</b-radio>
              <b-radio
                v-model="radio"
                @input="changeTest()"
                name="name"
                type="is-info"
                :native-value="[1000, 300000]"
              >Từ 0đ - 300,000đ</b-radio>
              <b-radio
                v-model="radio"
                @input="changeTest()"
                name="name"
                type="is-info"
                :native-value="[300000, 500000]"
              >Từ 300,000đ - 500,000đ</b-radio>
              <b-radio
                v-model="radio"
                type="is-info"
                @input="changeTest()"
                name="name"
                :native-value="[500000, 1000000]"
              >Từ 500,000đ - 1,000,000đ</b-radio>
              <b-radio
                v-model="radio"
                @input="changeTest()"
                type="is-info"
                name="name"
                :native-value="[1000000]"
              >Lớn hơn 1,000,000đ</b-radio>
            </div>
          </b-collapse>
          <b-collapse class="card" animation="slide" aria-id="contentIdForA11y5">
            <div
              slot="trigger"
              slot-scope="props1"
              class="card_new"
              role="button"
              aria-controls="contentIdForA11y5"
            >
              Loại sản phẩm
              <a class="card-header-icon">
                <b-icon :icon="props1.open ? 'menu-down' : 'menu-up'"></b-icon>
              </a>
            </div>
            <div class="content_fillter">
              <div>
                <div class="input_" v-for="typeProd in uniqueType" :key="typeProd">
                  <input
                    v-if="typeProd"
                    type="checkbox"
                    :value="typeProd"
                    @change="fff"
                    v-model="selectedLocations"
                  />
                  <span class="checkbox-label" v-if="typeProd">{{typeProd}}</span>
                </div>
              </div>
            </div>
          </b-collapse>
          <b-collapse class="card" animation="slide" aria-id="contentIdForA11y6">
            <div
              slot="trigger"
              slot-scope="props2"
              class="card_new"
              role="button"
              aria-controls="contentIdForA11y6"
            >
              Thương hiệu
              <a class="card-header-icon">
                <b-icon :icon="props2.open ? 'menu-down' : 'menu-up'"></b-icon>
              </a>
            </div>
            <div class="content_fillter">
              <div>
                <div class="input_" v-for="vendorProd in uniqueVendor" :key="vendorProd">
                  <input
                    v-if="vendorProd"
                    type="checkbox"
                    :value="vendorProd"
                    @change="fff1"
                    v-model="selectedLocations1"
                  />
                  <span class="checkbox-label" v-if="vendorProd">{{vendorProd}}</span>
                </div>
              </div>
            </div>
          </b-collapse>
        </div>
        <div v-if="listProducts && listProducts.length > 0" class="grid__item grid__item_70">
          <div
            v-for="product in collectionsQuery"
            v-bind:key="product.id"
            class="grid__item small--six-twelfths"
          >
            <div class="product--loop">
              <div class="product-img">
                <router-link
                  :to="{
                    name: 'Product',
                    params: { id: product.id, shopId: shopId }
                  }"
                >
                  <a href="/product" @click="getaProduct(product.id)">
                    <img v-if="product.images.length > 0" :src="product.images[0].source" />
                  </a>
                </router-link>
              </div>
              <div class="product-content">
                <div class="product-price">
                  <router-link
                    :to="{
                      name: 'Product',
                      params: { id: product.id, shopId: shopId }
                    }"
                  >
                    <a href="javascript:void(0)">
                      <h3 style="color: #393939;">{{ product.name | truncate(30, '...') }}</h3>
                    </a>
                  </router-link>
                  <span class="ProductPrice">{{ formatPrice(product.minPrice) }} đ</span>
                  <span v-if="product.compareAtMinPrice > product.minPrice" class="ComparePrice">
                    <s>{{ formatPrice(product.compareAtMinPrice) }} đ</s>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div v-else class="grid__item grid__item_70 abc">Hiện chưa có sản phẩm nào</div>
        <div
          class="grid__item grid__item_70"
          v-show="!searchQuerycollections"
          style="padding-left:30px;margin-top:20px;padding-bottom: 20px;float: right;"
        >
          <b-pagination
            v-show="listProducts1 && total1  >  listProducts1.length"
            :current.sync="current"
            :total="total1"
            :per-page="perPage"
            order="is-centered"
            @change="getListProducts1"
          ></b-pagination>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@import "../style.scss";

.search_data3 {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #e7e7e7;
  padding: 16px 20px;
  background: #fff;
  border-radius: 8px;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.search_data3 input {
  width: 100%;
  margin-right: 15px;
  background: #fff;
  border: none;
  height: 40px;
  padding: 10px;
  outline: none;
  border-radius: 3px;
  border: 1px solid #eeeeee;
}

.animation-content {
  background: #fff;
  border-radius: 20px;
}

@media (max-width: 480px) {
  .search_data3 {
    display: block !important;

    .sort_product {
      margin-top: 10px;
    }

    .sort_product select {
      width: 100%;
    }
  }
}
</style>

<script>
import { HTTP } from "../httpService/http-common";
import axios from "axios";
import Close from "../assets/x.svg";
export default {
  name: "Collections",
  data() {
    return {
      Close: Close,
      shopId: null,
      listProducts: null,
      listProducts1: null,
      productId: "",
      cartToken: null,
      searchQuerycollections: null,
      radio: null,
      minPrice: null,
      maxPrice: null,
      selectedLocations: [],
      selectedLocations1: [],
      fullcreen: false,
      listSort: [
        {
          name: "best-selling",
          title: "Bán chạy nhất",
        },
        {
          name: "name-asc",
          title: "Theo bảng chũ cái từ A - Z",
        },
        {
          name: "name-desc",
          title: "Theo bảng chũ cái từ Z - A",
        },
        {
          name: "price-asc",
          title: "Theo giá tăng dần",
        },
        {
          name: "price-desc",
          title: "Theo giá giảm dần",
        },
        {
          name: "oldest",
          title: "Theo thứ tự tạo ra giảm dần",
        },
        {
          name: "latest",
          title: "Theo thứ tự tạo ra Tăng dần",
        },
      ],
      sort_: "manual",
      listAllCollections: null,
      showfilterPopup: false,
      current: 1,
      current1: 1,
      perPage: 12,
      total1: 0,
    };
  },
  created() {
    this.collectionId = this.$route.params.collectionId;
    this.shopId = this.$route.params.shopId;
    if (this.shopId && this.collectionId) {
      localStorage.setItem("shopId", this.shopId);
      localStorage.setItem("collectionId", this.collectionId);
    }
    this.getListProducts();

    this.listAll();
  },
  methods: {
    getaProduct(id) {
      this.productId = id;
    },
    filterMobile() {
      this.showfilterPopup = true;
    },
    fff() {
      console.log();
      if (this.selectedLocations.length > 0) {
        this.getListProducts();
      } else {
        this.getListProducts();
      }
    },
    fff1() {
      if (this.selectedLocations1.length > 0) {
        this.getListProducts();
      } else {
        this.getListProducts();
      }
    },
    changeTest() {
      if (this.radio) {
        if (this.radio.length > 1) {
          for (var i = 0; i < this.radio.length; i++) {
            this.minPrice = this.radio[0];
            this.maxPrice = this.radio[1];
            this.getListProducts();
          }
        } else {
          this.minPrice = this.radio[0];
          this.getListProducts();
        }
      }
    },
    formatPrice(value) {
      let val = (value / 1).toFixed(0).replace(".", ",");
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    },
    async renderCollection(id) {
      if (id !== this.collectionId) {
        await this.$router.push({
          name: "Collections",
          params: {
            collectionId: id,
            shopId: this.shopId,
          },
        });
      }

      localStorage.setItem("collectionId", id);
      await this.getListProducts();
    },
    async listAll() {
      await HTTP.get(
        "/collections" + "?shopId=" + this.shopId + "&kind=product"
      ).then((data) => {
        this.listAllCollections = data.data.collections;
      });
      return;
    },
    async getListProducts1(value) {
      this.current1 = value;
      await this.getListProducts();
    },
    async getListProducts() {
      this.collectionId = this.$route.params.collectionId;
      var vendor;
      var type;
      var price;
      if (this.selectedLocations.length > 0) {
        type = "&types=" + this.selectedLocations.toString();
        console.log(type);
      }
      if (this.selectedLocations1.length > 0) {
        vendor = "&vendors=" + this.selectedLocations1.toString();
      }
      if (this.minPrice && this.minPrice) {
        price = "&minPrice=" + this.minPrice + "&maxPrice=" + this.maxPrice;
      } else if (this.minPrice && !this.minPrice) {
        price = "&minPrice=" + this.minPrice;
      } else if (!this.minPrice && this.minPrice) {
        price = "&maxPrice=" + this.maxPrice;
      }
      var filter;
      if (vendor && type && price) {
        filter = vendor + type + price;
      } else if (!vendor && !type && price) {
        filter = price;
      } else if (!vendor && type && price) {
        filter = price + type;
      } else if (vendor && !type && price) {
        filter = price + vendor;
      } else if (vendor && type && !price) {
        filter = vendor + type;
      } else if (vendor && !type && !price) {
        filter = vendor;
      } else if (!vendor && type && !price) {
        filter = type;
      }
      var skip = 0;
      var take = 12;
      if (this.current1 == 1) {
        skip = 0;
      } else if (this.current1 > 1) {
        skip = take * (this.current1 - 1);
      }
      console.log(this.current1);
      if (filter) {
        await HTTP.get(
          "/collections/" +
            this.collectionId +
            "/products" +
            "?sort=" +
            this.sort_ +
            "&skip=" +
            skip +
            "&take=" +
            take +
            filter
        ).then((data) => {
          console.log(data);
          this.listProducts = data.data.products;
          this.listProducts1 = data.data.products;
          this.total1 = data.data.total;
        });
        return;
      } else {
        await HTTP.get(
          "/collections/" +
            this.collectionId +
            "/products" +
            "?sort=" +
            this.sort_ +
            "&skip=" +
            skip +
            "&take=" +
            take
        ).then((data) => {
          console.log(data);
          this.listProducts = data.data.products;
          this.listProducts1 = data.data.products;
          this.total1 = data.data.total;
        });
        return;
      }
    },
  },
  computed: {
    total() {
      if (this.total1 > 0) {
        return this.total1;
      }
    },
    uniqueVendor: function () {
      var filtered_array = [];
      if (this.listProducts1) {
        for (var i = 0; i < this.listProducts1.length; i++) {
          if (filtered_array.indexOf(this.listProducts1[i].vendor) === -1) {
            filtered_array.push(this.listProducts1[i].vendor);
            console.log(filtered_array);
          }
        }
        return filtered_array;
      }
    },
    uniqueType: function () {
      var filtered_array = [];
      if (this.listProducts1) {
        for (var i = 0; i < this.listProducts1.length; i++) {
          if (filtered_array.indexOf(this.listProducts1[i].type) === -1) {
            filtered_array.push(this.listProducts1[i].type);
          }
        }
        return filtered_array;
      }
    },
    collectionsQuery() {
      if (this.searchQuerycollections) {
        return this.listProducts.filter((product) => {
          return this.searchQuerycollections
            .toLowerCase()
            .split(" ")
            .every((v) => product.name.toLowerCase().includes(v));
        });
      } else {
        return this.listProducts;
      }
    },
  },
  filters: {
    truncate: function (text, length, suffix) {
      if (text.length > length) {
        return text.substring(0, length) + suffix;
      } else {
        return text;
      }
    },
  },
};
</script>
