<template>
  <div class="wrapper">
    <div
      style="display: flex;align-items: center;justify-content: space-between;margin-bottom: 30px;"
    >
      <router-link
        :to="{
          name: 'Collections',
          params: { collectionId: collection_Id, shopId: shopId }
        }"
      >
        <a
          style="font-weight: normal;color: #999;display: flex;align-items: center;"
          href="javascript:void(0)"
        >
          <img style="width: 20px;margin-right: 5px;" :src="Back" /> Quay
          lại
        </a>
      </router-link>
    </div>
    <div class="listorder_popup">
      <div class="search_data no-data">
        <h4 style="font-weight: bold;">Lịch sử đặt hàng</h4>
      </div>
      <div class="popup_new2">
        <div class="content" v-for="orders in list_order" :key="orders.id">
          <div class="card">
            <div class="code_order">
              <span>
                Mã đặt hàng
                <a
                  href="javascript:void(0)"
                  v-on:click="showdetailOrder = true"
                  @click="getaOrder(orders.id)"
                >#{{ orders.code }}</a>
              </span>
              <span v-if="orders.deliveryKind == 'pickup'">Tự đến lấy</span>
              <span v-else>Giao hàng</span>
            </div>
            <div class="time_order">
              <span class="time_" v-if="callDate(orders.createdAt, 'day') > 0">
                Thứ {{ callDate(orders.createdAt, "day") + 1 }} ,
                {{ callDate(orders.createdAt, "fullDate") }} lúc
                {{ callDate(orders.createdAt, "time") }}
              </span>
              <span class="time_" v-else>
                Chủ nhật , {{ callDate(orders.createdAt, "fullDate") }} lúc
                {{ callDate(orders.createdAt, "time") }}
              </span>
              <span>{{ orders.items.length }} Sản phẩm</span>
            </div>
            <div class="items_order">
              <div class="items_content" v-for="items in orders.items" :key="items.id">
                <div class="items_img">
                  <img :src="items.variant.product.images[0].source" />
                </div>
                <div class="items_info">
                  <h3>{{ items.variant.product.name }}</h3>
                  <div class="items_price">
                    <span class="product_price">{{ formatPrice(items.variant.price) }} đ</span>
                    <span
                      v-if="items.variant.compareAtPrice > 0 && items.variant.compareAtPrice > items.variant.price"
                      class="product_compareAtPrice"
                    >
                      <s>{{ formatPrice(items.variant.compareAtPrice) }} đ</s>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="branch_order">
              <span>
                Cửa hàng:
                <p>{{ orders.branch.name }}</p>
              </span>
            </div>
            <div class="staff_review_rate" v-if="orders.rating != null">
              <a href="javascript:void(0)">Đã đánh giá</a>
            </div>
            <div class="staff_review" v-else @click="review_nodetail(orders.id)">
              <a v-if="orders.financialStatus == 'paid'" href="javascript:void(0)">Đánh giá</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="orderdetail_popup" v-if="detailOrder">
      <b-modal :active.sync="showdetailOrder" :full-screen="fullcreen">
        <div class="search_data no-data">
          <a href="javascript:void(0)" @click="showdetailOrder = false">
            <img :src="Close" />
          </a>
          <h4>Đơn đặt hàng #{{ detailOrder.code }}</h4>
        </div>
        <div class="content_popup">
          <div class="card">
            <div class="code_order">
              <span>
                Mã đặt hàng
                <a>#{{ detailOrder.code }}</a>
              </span>
              <span v-if="detailOrder.deliveryKind == 'pickup'">Tự đến lấy</span>
              <span v-else>Giao hàng</span>
            </div>
            <div class="code_order1">
              <span class="date" v-if="detailOrder && callDate(detailOrder.createdAt, 'day') > 0">
                Thứ {{ callDate(detailOrder.createdAt, "day") + 1 }} ,
                {{ callDate(detailOrder.createdAt, "fullDate") }} {{ callDate(detailOrder.createdAt, "time") }}
              </span>
              <span v-else>
                Chủ nhật ,
                {{ callDate(detailOrder.createdAt, "fullDate") }} {{ callDate(detailOrder.createdAt, "time") }}
              </span>
              <span v-if="detailOrder.cancelledAt">Đã hủy</span>
            </div>

            <ul class="StepProgress" v-if="!detailOrder.cancelledAt">
              <li class="StepProgress-item is_done">
                <span>Đặt lịch thành công</span>
              </li>
              <li
                class="StepProgress-item"
                :class="{
                  is_done: detailOrder.status === 'confirmed',current:detailOrder.status == 'pending' &&detailOrder.financialStatus !== 'paid',}"
              >
                <span>Xác nhận đơn đặt lịch thành công</span>
              </li>
              <li
                class="StepProgress-item"
                :class="{is_done: detailOrder.financialStatus === 'paid',current: detailOrder.status === 'confirmed' && detailOrder.financialStatus !== 'paid'}"
              >
                <span>Xác nhận thanh toán thành công</span>
                <p>Chuyển khoản ngân hàng</p>
              </li>
              <li
                class="StepProgress-item"
                :class="{ is_done: detailOrder.financialStatus === 'paid' && detailOrder.fulfillmentStatus == 'fulfilled' }"
              >
                <span>Hoàn tất dịch vụ</span>
              </li>
            </ul>

            <div class="cancell_order" v-else>
              <span>Đơn hàng đã hủy</span>
              <p>Vào lúc</p>
              <p
                v-if="
                  detailOrder && callDate(detailOrder.cancelledAt, 'day') > 0
                "
              >
                {{ callDate(detailOrder.cancelledAt, "time") }} , Thứ
                {{ callDate(detailOrder.cancelledAt, "day") + 1 }} Ngày
                {{ callDate(detailOrder.cancelledAt, "fullDate") }}
              </p>
              <p v-else>
                {{ callDate(detailOrder.cancelledAt, "time") }}
                Chủ nhật Ngày
                {{ callDate(detailOrder.cancelledAt, "fullDate") }}
              </p>
              <p
                v-if="detailOrder.cancelledReason"
              >lý do hủy đơn : {{ detailOrder.cancelledReason }}</p>
            </div>
          </div>
          <h3
            style="margin-top:15px;margin-bottom:15px;    text-align: left;font-weight: bold;"
          >Thông tin đơn hàng</h3>
          <div class="card" style="margin-top:0">
            <div class="store_order">
              <span>
                <img :src="Map_icon" style="max-width: 15px;margin-right: 5px;" />
                {{ detailOrder.branch.name }}
              </span>
            </div>

            <div class="items_order">
              <div class="items_content" v-for="items in detailOrder.items" :key="items.id">
                <div class="items_img">
                  <img :src="items.variant.product.images[0].source" />
                </div>
                <div class="items_info">
                  <h3>{{ items.variant.product.name }}</h3>
                  <span>{{ items.variant.name }}</span>
                  <div class="items_price">
                    <span class="product_price">{{ formatPrice(items.variant.price) }} đ</span>
                    <span class="product_compareAtPrice">
                      <s>{{ formatPrice(items.variant.compareAtPrice) }} đ</s>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="code_order" style="margin-bottom:10px;margin-top:10px;">
              <span>{{ detailOrder.items.length }} sản phẩm</span>
            </div>
            <div class="total_price">
              <div style="position: relative;">
                <span style="position: absolute;left: 45%;font-weight: normal;">Tạm tính :</span>
                <strong>{{ formatPrice(detailOrder.amount) }}đ</strong>
              </div>
              <div style="position: relative;">
                <span style="position: absolute;left: 37.5%;font-weight: normal;">Khuyến mãi :</span>
                <strong
                  v-if="detailOrder.discountAmount"
                >- {{formatPrice(detailOrder.discountAmount)}}</strong>
                <strong v-else>-</strong>
              </div>
              <div style="position: relative;">
                <span style="position: absolute;left: 37.5%;font-weight: normal;">Phí vận chuyển :</span>
                <strong v-if="detailOrder.shippingFee">{{formatPrice(detailOrder.shippingFee)}}</strong>
                <strong v-else>-</strong>
              </div>
              <div style="position: relative;">
                <span style="position: absolute;left: 40%;font-weight: normal;">Tổng cộng :</span>
                <strong>{{ formatPrice(detailOrder.totalAmount) }}đ</strong>
              </div>
            </div>
            <div class="note_" style="display: flex;align-items: center;">
              <span style="color: #4f4f4f;white-space: nowrap;opacity: 0.6;">Ghi chú của bạn :</span>
              <input
                style="width:100%;border:none"
                v-model="detailOrder.note"
                placeholder="chưa có ghi chú"
                disabled
              />
            </div>
          </div>
          <h3
            style="margin-top:15px;margin-bottom:15px;    text-align: left;font-weight: bold;"
          >Thông tin người nhận</h3>
          <div
            v-if="detailOrder.deliveryKind == 'shipping'"
            class="card"
            style="margin-bottom: 10px;margin-top:0"
          >
            <div>
              <span style="display:block;font-weight: 500;font-size: 15px;margin-bottom: 5px;">
                <img style="max-width: 10px;margin-right: 5px;" src="../assets/user.png" />
                {{ detailOrder.shippingAddress.name }}
              </span>
              <span
                style="color:#333;font-weight: 500;font-size: 15px;display:block;margin-bottom: 5px;"
              >
                <img :src="Phone" style="max-width: 10px;margin-right: 5px;" />
                {{
                formatPhone(detailOrder.shippingAddress.phoneNumber)
                }}
              </span>
              <span style="display: block;font-weight: 300;font-size: 13px;margin-top: 3px;">
                <img :src="Map_icon" style="max-width: 10px;margin-right: 5px;" />
                {{ detailOrder.shippingAddress.address1 }} ,
                {{ detailOrder.shippingAddress.district.name }} ,
                {{ detailOrder.shippingAddress.city.name }}
              </span>
            </div>
          </div>

          <div class="card" v-else style="margin-bottom: 10px;margin-top:0">
            <div>
              <span style="display:block;font-weight: 500;font-size: 15px;margin-bottom: 5px;">
                <img style="max-width: 10px;margin-right: 5px;" src="../assets/user.png" />
                {{ detailOrder.customer.name }}
              </span>
              <span
                style="color:#333;font-weight: 500;font-size: 15px;display:block;margin-bottom: 5px;"
              >
                <img :src="Phone" style="max-width: 10px;margin-right: 5px;" />
                {{ formatPhone(detailOrder.customer.phoneNumber) }}
              </span>
            </div>
          </div>

          <div
            v-if="
              detailOrder.rating == null &&
                detailOrder.financialStatus == 'paid'
            "
            class="bottom_fixed_4"
          >
            <a href="javascript:void(0)" @click="showreviewOrder = true">Viết nhận xét</a>
          </div>
          <div
            v-else-if="detailOrder.financialStatus == 'paid'"
            class="bottom_fixed_4 detail_rivew"
            @click="reviewDetail(detailOrder.id)"
            v-on:click="showreviewOrderdetail = true"
          >
            <a href="javascript:void(0)">Xem đánh giá</a>
          </div>
        </div>
      </b-modal>
    </div>
    <div class="orderreview_popup" v-if="detailOrder">
      <b-modal :active.sync="showreviewOrder" :full-screen="fullcreen">
        <div class="search_data no-data">
          <a href="javascript:void(0)" @click="showreviewOrder = false">
            <img :src="Close" />
          </a>
          <h4>Viết nhận xét</h4>
        </div>
        <div class="content_popup">
          <div class="title_review">
            <h3>Nhận xét của bạn về sản phẩm</h3>
          </div>
          <div class="content_review">
            <img
              v-if="
                detailOrder.staffs.length > 0 && detailOrder.staffs[0].photoUrl
              "
              :src="detailOrder.staffs[0].photoUrl"
            />
            <img v-else src="../assets/user_6.png" />
            <span v-if="detailOrder.staffs && detailOrder.staffs.length > 0">
              {{
              detailOrder.staffs[0].name
              }}
            </span>
            <rate :length="5" v-model="rate" @input="checkrate()" />
            <div class="review_tag">{{ texttitleRevie }}</div>
          </div>
          <div class="des_review">
            <textarea v-model="review_note" placeholder="Nhập nội dung"></textarea>
          </div>
          <div class="suggestions_reivew">
            <a
              href="javascript:void(0)"
              v-for="(sugg, index) in suggestions"
              :key="sugg.id"
              @click="addsuggestions(sugg.title, index)"
              :class="{ active: index === activesuggerr }"
            >{{ sugg.title }}</a>
          </div>
          <div class="bottom_fixed_4">
            <a
              href="javascript:void(0)"
              @click="createrReview(detailOrder.id)"
              v-on:click="showreviewOrder = false"
            >Gửi</a>
          </div>
        </div>
      </b-modal>
    </div>
  </div>
</template>
<style scoped>
.wrapper {
  max-width: 700px;
}
.modal.is-active {
  padding: 0;
}
</style>
<script>
import axios from "axios";
import { HTTP } from "../httpService/http-common";
import "../style.scss";
import Back from "../assets/arrow-left.svg";
import Home from "../assets/home.svg";
import SvgRight from "../assets/chevron-right.svg";
import Delete from "../assets/trash-2.svg";
import Map_icon from "../assets/map-pin.svg";
import right from "../assets/chevron-right.svg";
import Phone from "../assets/phone.svg";
import Close from "../assets/x.svg";
import Note from "../assets/edit-3.svg";
import moment from "moment";
export default {
  name: "listOrder",
  data() {
    return {
      Phone: Phone,
      Map_icon: Map_icon,
      accessToken: null,
      list_order: null,
      showdetailOrder: false,
      detailOrder: null,
      fullcreen: false,
      Close: Close,
      detailReview: false,
      texttitleRevie: "",
      rate: 5,
      Back: Back,
      showreviewOrder: false,
      showreviewOrderdetail: false,
      suggestions: [
        { title: "Sản phẩm tốt" },
        { title: "Chất vải đẹp" },
        { title: "Giá cả phải chăng" },
        { title: "Chuyên nghiệp" },
      ],
      review_note: "",
      activesuggerr: 0,
      shopId: null,
      collection_Id: null,
    };
  },
  created() {
    this.accessToken = localStorage.getItem("accessToken");
    this.shopId = localStorage.getItem("shopId");
    this.collection_Id = localStorage.getItem("collectionId");
    this.listOrder();
  },
  methods: {
    formatPrice(value) {
      let val = (value / 1).toFixed(0).replace(".", ",");
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    },
    //----------------------ListOrder---------------------//
    async listOrder() {
      this.accessToken = localStorage.getItem("accessToken");
      if (this.accessToken != null) {
        await HTTP.get(
          "/customers/self/orders" + "?type=generic&skip=0&take=50",
          {
            headers: { Authorization: `Bearer ${this.accessToken}` },
          }
        ).then((data) => {
          this.list_order = data.data.orders;
          this.list_order = this.list_order.reverse();
          console.log(this.list_order);
        });
        return;
      }
    },
    async getaOrder(id) {
      this.accessToken = localStorage.getItem("accessToken");
      if (this.accessToken) {
        await HTTP.get("/customers/self/orders/" + id, {
          headers: { Authorization: `Bearer ${this.accessToken}` },
        }).then((data) => {
          this.detailOrder = data.data.order;
          console.log(this.detailOrder);
        });
        return;
      }
    },
    callDate(date, dateType) {
      const date1 = new Date(date);
      if (dateType === "fullDate") {
        return moment(date1).format("DD/MM/YYYY");
      } else if (dateType === "time") {
        return moment(date1).format("HH:mm");
      } else {
        return date1.getDay();
      }
    },
    formatPhone(value) {
      let val = value.replace("+84", "0");
      return val;
    },
    //---------------------------Review order--------------//
    addsuggestions(title, i) {
      this.activesuggerr = i;
      if (this.review_note != "") {
        this.review_note = this.review_note + "." + title;
      } else {
        this.review_note = this.review_note + title;
      }
    },
    async createrReview(orderId) {
      const options = {
        headers: { Authorization: `Bearer ${this.accessToken}` },
      };
      if (this.accessToken != null) {
        await HTTP.post(
          "/reviews",
          {
            targetId: orderId,
            content: this.review_note,
            rating: this.rate,
            title: this.texttitleRevie,
            targetType: "order",
          },
          options
        ).then((data) => {
          this.listOrder();
        });
        return;
      }
    },
    async review_nodetail(id) {
      await this.getaOrder(id);
      this.showreviewOrder = true;
    },
    checkrate() {
      if (this.rate == 5) {
        this.texttitleRevie = "Cực kỳ hài lòng";
      } else if (this.rate == 4) {
        this.texttitleRevie = "Chất lượng tốt";
      } else if (this.rate == 3) {
        this.texttitleRevie = "Cần cải thiện thêm chất lượng";
      } else if (this.rate == 2) {
        this.texttitleRevie = "Chưa hài lòng với chất lượng";
      } else {
        this.texttitleRevie = "Không hài lòng";
      }
    },
    async reviewDetail(orderId) {
      var searchParams3 = new URLSearchParams(window.location.search);
      this.accessToken = searchParams3.get("accessToken");
      if (this.accessToken != null) {
        await HTTP.get("/orders/" + orderId + "/review", {
          headers: { Authorization: `Bearer ${this.accessToken}` },
        }).then((data) => {
          this.detailReview = data.data.review;
        });
        return;
      }
    },
  },
};
</script>
