<template>
  <div>
    <div class="wrapper">
      <div class="innner">
        <div class="grid-uniform">
          <div
            style="display: flex;align-items: center;justify-content: space-between;margin-bottom: 30px;"
          >
            <a
              style="font-weight: normal;color: #999;display: flex;align-items: center;"
              href="javascript:void(0)"
              @click="back_checkout"
            >
              <img style="width: 20px;margin-right: 5px;" :src="Back" /> Quay lại
            </a>
          </div>
          <div v-if="detailProduct" class="grid__item grid__item_40">
            <div class="product_img">
              <img :src="detailProduct.images[0].source" :alt="detailProduct.name" />
            </div>
          </div>

          <div v-if="detailProduct" class="grid__item grid__item_60 left">
            <div class="product--page-content">
              <div class="product_title">
                <h1>{{ detailProduct.name }}</h1>
              </div>
              <div class="content_product">
                <span>Mã SKU: {{ variantProduct.sku }}</span>
                <span v-if="detailProduct.type && variantProduct.sku" style="margin:0 10px">|</span>
                <span v-if="detailProduct.type">{{ detailProduct.type }}</span>
                <span v-if="detailProduct.type && detailProduct.vendor" style="margin:0 10px">|</span>
                <span v-if="detailProduct.vendor">{{detailProduct.vendor}}</span>
              </div>
              <hr />
              <div class="product_price">
                <span
                  v-if="variantProduct"
                  class="price_new"
                >Giá : {{ formatPrice(variantProduct.price) }} đ</span>
                <span
                  v-if="variantProduct && variantProduct.compareAtPrice > 0 && variantProduct.compareAtPrice > variantProduct.price"
                  class="compare_price"
                >
                  <s>{{ formatPrice(variantProduct.compareAtPrice) }} đ</s>
                </span>
                <span
                  v-if="variantProduct && variantProduct.compareAtPrice > 0 && variantProduct.compareAtPrice > 
                            variantProduct.price"
                  class="sale"
                >-{{formatPrice(100 -(variantProduct.price / variantProduct.compareAtPrice) *100)}}%</span>
              </div>
              <div class="variant_product">
                <div
                  style="display: inline-block;"
                  v-for="(variant, i) in detailProduct.variants"
                  :key="variant.id"
                >
                  <a
                    class="variant_1"
                    @click="selectVariant(variant, i)"
                    href="javascript:void(0)"
                    :class="{ active: i === activeVariant }"
                  >
                    <label>{{ variant.name }}</label>
                  </a>
                </div>
              </div>
              <div style="margin-top:20px">
                <span style="display: inline-block;margin-right:10px">Số lượng</span>
                <div class="up_dow1">
                  <a class="dow" href="javascript:void(0)" v-on:click="preview()">-</a>
                  <input type="number" v-model="quanlity" name="updates[]" :min="min" />

                  <a class="up" href="javascript:void(0)" v-on:click="next()">+</a>
                </div>
              </div>
              <div class="btn3_">
                <a class="checkout_a" href="javascript:void(0)" @click="addCheckout">Mua ngay</a>
                <a href="javascript:void(0)" @click="addCart">Thêm sản phẩm</a>
              </div>
            </div>
          </div>
          <div v-if="detailProduct" class="grid__item product_destripsion">
            <b-tabs v-model="activeTab">
              <b-tab-item label="Mô tả">
                <div
                  v-if="detailProduct.description"
                  class="product_des"
                  v-html="detailProduct.description"
                ></div>
                <div v-else class="product_des">chưa có mô tả sản phẩm này</div>
              </b-tab-item>
              <b-tab-item label="Đánh giá" style="    text-align: left;">
                <div class="review_prod" v-if="accessToken && reviewList && reviewList.length < 1">
                  <div class="reivew_">
                    <div style="margin-top: 20px;">
                      <p
                        style="display: inline-block;margin-bottom: 10px;"
                      >1. Đánh giá của bạn về sản phẩm này</p>
                      <rate :length="5" v-model="myRate" />
                    </div>
                    <div style="margin-top: 10px;">
                      <p>2. Tiêu đề của nhận xét:</p>
                      <input placeholder="Nhập tiêu đề nhận xét(Không bắt buộc)" v-model="title" />
                    </div>
                    <div>
                      <p>3. Viết nhận xét của bạn vào bên dưới:</p>
                      <textarea v-model="content" placeholder="Nhận xét của bạn về sản phẩm này"></textarea>
                    </div>
                    <template>
                      <div class="account_avatar">
                        <div class="avatar_img">
                          <div v-if="!image">
                            <h4 style="margin-bottom:0">Thêm hình sản phẩm nếu có</h4>
                            <input type="file" @change="onFileChange" />
                          </div>
                          <div v-else style=" display: flex;align-items: center;">
                            <img :src="image" />
                            <button class="close_img" @click="removeImage">Xóa ảnh</button>
                          </div>
                        </div>
                      </div>
                    </template>
                    <div class="btn3_" @click="creater()" style="margin-left:0">
                      <a href="javascript:void(0)">Gửi đánh giá</a>
                    </div>
                  </div>
                </div>
                <div v-if="!accessToken">Bạn chưa đăng nhập, vui lòng đăng nhập để đánh giá</div>
                <div class="content_review">
                  <div v-if="reviewList && reviewList.length < 1">Chưa có nhận xét về sản phẩm</div>
                  <div class="content_listrv" v-if="reviewList && reviewList.length > 0">
                    <div v-if="reviewList && reviewList.length > 0" class="all_rate">
                      <div class="rate_all">
                        <h3>{{this.allRate}} / 5</h3>
                        <div>
                          <div class="rating" v-for="i in allRate" :key="i.id">
                            <span class="rating-content">
                              <i class="fa fa-star" aria-hidden="true"></i>
                            </span>
                          </div>
                        </div>
                        <div class="lenght_review">{{reviewList.length}} nhận xét</div>
                      </div>
                      <div class="rate_right">
                        <div class="rate5 rate__">
                          <div style="white-space: nowrap;">
                            <div class="rating">
                              <span class="rating-content">
                                5
                                <i class="fa fa-star" aria-hidden="true"></i>
                              </span>
                            </div>
                          </div>
                          <b-progress :value="progress5"></b-progress>
                          <div class="rate_text">{{rateText5}}%</div>
                        </div>
                        <div class="rate4 rate__">
                          <div style="white-space: nowrap;">
                            <div class="rating">
                              <span class="rating-content">
                                4
                                <i class="fa fa-star" aria-hidden="true"></i>
                              </span>
                            </div>
                          </div>
                          <b-progress :value="progress4"></b-progress>
                          <div class="rate_text">{{rateText4}}%</div>
                        </div>
                        <div class="rate3 rate__">
                          <div style="white-space: nowrap;">
                            <div class="rating">
                              <span class="rating-content">
                                3
                                <i class="fa fa-star" aria-hidden="true"></i>
                              </span>
                            </div>
                          </div>
                          <b-progress :value="progress3"></b-progress>
                          <div class="rate_text">{{rateText3}}%</div>
                        </div>
                        <div class="rate2 rate__">
                          <div style="white-space: nowrap;">
                            <div class="rating">
                              <span class="rating-content">
                                2
                                <i class="fa fa-star" aria-hidden="true"></i>
                              </span>
                            </div>
                          </div>
                          <b-progress :value="progress2"></b-progress>
                          <div class="rate_text">{{rateText2}}%</div>
                        </div>
                        <div class="rate1 rate__">
                          <div style="white-space: nowrap;">
                            <div class="rating">
                              <span class="rating-content">
                                1
                                <i class="fa fa-star" aria-hidden="true"></i>
                              </span>
                            </div>
                          </div>
                          <b-progress :value="progress1"></b-progress>
                          <div class="rate_text">{{rateText1}}%</div>
                        </div>
                      </div>
                      <div class="title_login1">
                        <div class="review_prod" v-if="accessToken">
                          <div class="reivew_" v-if="!customerCurrentReview">
                            <div class="review_">
                              <span>Chia sẻ nhận xét về sản phẩm</span>
                              <a
                                class="a1"
                                href="javascript:void(0)"
                                @click="showAddReview = true"
                              >Viết nhận xét</a>
                            </div>
                          </div>
                          <div v-else>Bạn đã đánh giá về sản phẩm này</div>
                        </div>
                        <div v-else>Bạn chưa đăng nhập, vui lòng đăng nhập để đánh giá</div>
                      </div>
                    </div>
                    <div class="title_login2">
                      <div class="review_prod" v-if="accessToken">
                        <div class="reivew_" v-if="!customerCurrentReview">
                          <div class="review_">
                            <a
                              class="a1"
                              href="javascript:void(0)"
                              @click="showAddReview = true"
                            >Viết nhận xét</a>
                          </div>
                        </div>
                        <div v-else>Bạn đã đánh giá về sản phẩm này</div>
                      </div>
                      <div v-else>Bạn chưa đăng nhập, vui lòng đăng nhập để đánh giá</div>
                    </div>
                    <b-modal :active.sync="showAddReview" :full-screen="fullcreen">
                      <div class="search_data no-data">
                        <a href="javascript:void(0)" @click="showAddReview = false">
                          <img :src="Close" />
                        </a>
                        <h4>Thêm đánh giá</h4>
                      </div>
                      <div class="content_popup">
                        <div class="card">
                          <div style="margin-top: 20px;">
                            <p
                              style="display: inline-block;margin-bottom: 10px;"
                            >1. Đánh giá của bạn về sản phẩm này</p>
                            <rate :length="5" v-model="myRate" />
                          </div>
                          <div style="margin-top: 10px;">
                            <p>2. Tiêu đề của nhận xét:</p>
                            <input
                              placeholder="Nhập tiêu đề nhận xét(Không bắt buộc)"
                              v-model="title"
                            />
                          </div>
                          <div>
                            <p>3. Viết nhận xét của bạn vào bên dưới:</p>
                            <textarea
                              v-model="content"
                              placeholder="Nhận xét của bạn về sản phẩm này"
                            ></textarea>
                          </div>
                          <template>
                            <div class="account_avatar">
                              <div class="avatar_img">
                                <div v-if="!image">
                                  <h4 style="margin-bottom:0">Thêm hình sản phẩm nếu có</h4>
                                  <input type="file" @change="onFileChange" />
                                </div>
                                <div v-else style=" display: flex;align-items: center;">
                                  <img :src="image" />
                                  <button class="close_img" @click="removeImage">Xóa ảnh</button>
                                </div>
                              </div>
                            </div>
                          </template>
                          <div class="btn3_" @click="creater()" style="margin-left:0">
                            <a href="javascript:void(0)">Gửi đánh giá</a>
                          </div>
                        </div>
                      </div>
                    </b-modal>
                    <div class="listReview" v-for="review in reviewList" :key="review.id">
                      <div class="content_" v-if="review.owner">
                        <div class="img_customer">
                          <img v-if="review.owner.photoUrl" :src="review.owner.photoUrl" />
                          <img
                            v-else
                            src="https://static.smb.foolab.tech/images/c93396df92884cf49d1c605d4256b0ac.jpg"
                          />
                          <div class="customer_content">
                            <h3>{{ review.owner.name }}</h3>
                            <span>{{ review.owner.email }}</span>
                          </div>
                        </div>
                        <div class="content_cmt">
                          <div class="rating" v-for="i in formatRate(review.rating)" :key="i.id">
                            <span class="rating-content">
                              <i class="fa fa-star" aria-hidden="true"></i>
                            </span>
                          </div>
                          <div class="title_cmt">{{ review.title }}</div>
                          <div class="des_cmt">{{ review.content }}</div>
                          <div v-if="review.images && review.images.length > 0" class="img_cmt">
                            <img :src="review.images[0].source" />
                          </div>
                          <div class="add_cmt">
                            <div class>
                              <a
                                v-if="accessToken"
                                href="javascript:void(0)"
                                @click="showAddCmt = true"
                              >Trả lời</a>
                              <b-modal
                                class="popup_add"
                                :active.sync="showAddCmt"
                                :width="550"
                                scroll="keep"
                                animation="zoom-in"
                              >
                                <div class="search_data no-data">
                                  <h4>Trả lời</h4>
                                  <a href="javascript:void(0)" @click="showAddCmt = false">
                                    <img :src="Close" />
                                  </a>
                                </div>
                                <div class="card">
                                  <b-field label="Tiêu đề">
                                    <b-input v-model="cmt_title"></b-input>
                                  </b-field>
                                  <b-field label="Nội dung">
                                    <b-input v-model="cmt_content"></b-input>
                                  </b-field>
                                  <div v-if="!image1">
                                    <h4 style="margin-bottom:0">Thêm hình sản phẩm nếu có</h4>
                                    <input type="file" @change="onFileChange1" />
                                  </div>
                                  <div v-else style=" display: flex;align-items: center;">
                                    <img :src="image1" />
                                    <button class="close_img1" @click="removeImage">Xóa ảnh</button>
                                  </div>
                                  <div class="btn3_ btn4_new">
                                    <a href="javascript:void(0)" @click="addCmt(review.id)">Gửi</a>
                                  </div>
                                </div>
                              </b-modal>
                              <a href="javascript:void(0)">
                                <i class="fa fa-comments-o" aria-hidden="true"></i>
                                {{ review.comments.length }}
                              </a>

                              <b-collapse :open="false" aria-id="contentIdForA11y1">
                                <a
                                  href="javascript:void(0)"
                                  @click="isActive = !isActive"
                                  slot="trigger"
                                  aria-controls="contentIdForA11y1"
                                >
                                  Xem bình luận
                                  <i class="fa fa-comments-o" aria-hidden="true"></i>
                                  {{ review.comments.length }}
                                </a>
                                <b-notification v-model="isActive">
                                  <div
                                    class="list_cmt"
                                    v-for="cmt in review.comments"
                                    :key="cmt.id"
                                  >
                                    <div class="img_customer">
                                      <img
                                        style="max-width:40px"
                                        v-if="cmt.owner.photoUrl"
                                        :src="cmt.owner.photoUrl"
                                      />
                                      <img
                                        style="max-width:40px"
                                        v-else
                                        src="https://static.smb.foolab.tech/images/c93396df92884cf49d1c605d4256b0ac.jpg"
                                      />
                                    </div>
                                    <div class="content_cmt" style="margin-left:15px">
                                      <div class="title_cmt">{{ cmt.owner.name }}</div>
                                      <div class="des_cmt1">{{ cmt.content }}</div>
                                      <div class="btn_3">
                                        <a
                                          v-if="cmt.owner.id == review.owner.id && accessToken"
                                          href="javascript:void(0)"
                                        >Sửa</a>
                                        <a
                                          v-if="cmt.owner.id == review.owner.id && accessToken"
                                          href="javascript:void(0)"
                                          @click="deleteCmt(review.id, cmt.id)"
                                        >Xóa</a>
                                      </div>
                                    </div>
                                  </div>
                                </b-notification>
                              </b-collapse>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </b-tab-item>
            </b-tabs>
          </div>
          <div v-if="relatedProduct.length > 0" class="relatedProduct grid__item">
            <div class="section-title">
              <h3>Sản phẩm liên quan</h3>
            </div>
            <b-carousel-list
              :data="relatedProduct"
              :items-to-show="clientsTestimonialsPages"
              :repeat="true"
            >
              <template slot="item" slot-scope="list" v-if="list.list.id !== productId">
                <div class="item">
                  <div class="product--loop">
                    <div class="product-img">
                      <a href="javascript:void(0)" @click="renderProduct(list.list.id)">
                        <img :src="list.list.images[0].source" />
                      </a>
                    </div>
                    <div class="product-content">
                      <div class="product-price">
                        <a href="javascript:void(0)">
                          <h3 style="color: #393939;">{{ list.list.name | truncate(30, '...') }}</h3>
                        </a>
                        <span class="ProductPrice">{{ formatPrice(list.list.minPrice) }} đ</span>
                        <span
                          v-if="list.list.compareAtMinPrice > list.list.minPrice"
                          class="ComparePrice"
                        >
                          <s>{{formatPrice(list.list.compareAtMinPrice) }} đ</s>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </template>
            </b-carousel-list>
          </div>
          <div v-if="lastViewProducts.length > 0" class="seenProduct grid__item">
            <div class="section-title">
              <h3>Sản phẩm đã xem</h3>
            </div>
            <b-carousel-list
              :data="lastViewProducts"
              :items-to-show="clientsTestimonialsPages"
              :repeat="true"
            >
              <template slot="item" slot-scope="list">
                <div class="item">
                  <div class="product--loop">
                    <div class="product-img">
                      <a href="javascript:void(0)" @click="renderProduct(list.list.id)">
                        <img v-if="list.list.imagge" :src="list.list.imagge" />
                      </a>
                    </div>
                    <div class="product-content">
                      <div class="product-price">
                        <a href="javascript:void(0)">
                          <h3 style="color: #393939;">{{ list.list.name | truncate(30, '...') }}</h3>
                        </a>
                        <span class="ProductPrice">{{ formatPrice(list.list.price) }} đ</span>
                        <span v-if="list.list.comparePrice > list.list.price" class="ComparePrice">
                          <s>{{ formatPrice(list.list.comparePrice) }} đ</s>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </template>
            </b-carousel-list>
          </div>
        </div>
      </div>
    </div>
    <vs-sidebar
      position-right
      default-index="1"
      color="primary"
      class="sidebarx"
      v-model="openCart"
    >
      <div class="popup_new1">
        <div class="title_cart_nav">
          <h3>Giỏ hàng của bạn</h3>
          <span v-if="allCart && allCart.length > 0">Hiện đang có {{quanlityLength}} sản phẩm</span>
          <span v-else>Giỏ hàng trống</span>
          <a class="a1" href="javascript:void(0)" @click="openCart = false">
            <img :src="Close" />
          </a>
        </div>
        <div class="popup_cart" v-for="item in allCart" :key="item.id">
          <div class="product_content">
            <div class="product-img">
              <img :src="item.variant.product.images[0].source" />
            </div>
            <div class="product-des">
              <h4>{{item.variant.product.name}}</h4>
              <p>{{item.variant.name}}</p>
              <p>Số lượng : {{item.quantity}}</p>
              <div class="price_product">
                <span class="ProductPrice">
                  <p>Giá / sp :</p>
                  {{ formatPrice(item.price) }} đ
                </span>
                <span v-if="item.compareAtPrice > item.price" class="ComparePrice">
                  <s>{{ formatPrice(item.compareAtPrice) }} đ</s>
                </span>
              </div>
            </div>
            <div class="remove_item">
              <a href="javascript:void(0)" @click="DeleteCart(item.variant.id)">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="total_price" v-if="allCart && allCart.length > 0">
          <h3>Tổng tiền tạm tính :</h3>
          <span>{{formatPrice(sum_price)}} đ</span>
        </div>
        <div class="btn_3" v-if="allCart && allCart.length > 0">
          <router-link :to="{ name: 'Checkout', params: { token: cartToken }}">
            <button class="btn">Tiến hành đặt hàng</button>
          </router-link>
        </div>
        <div class="btn_1" v-if="allCart && allCart.length > 0">
          <router-link :to="{ name: 'Cart', params: { token: cartToken }}">
            <a class="afff" style="padding: 10px 10px;" href="javascript:void(0)">
              Xem chi tiết giỏ hàng
              <i class="fa fa-shopping-bag" aria-hidden="true"></i>
            </a>
          </router-link>
        </div>
      </div>
    </vs-sidebar>
  </div>
</template>

<style lang="scss">
@import "../style.scss";
</style>

<script>
import { HTTP } from "../httpService/http-common";
import axios from "axios";
import Close from "../assets/x.svg";
import Back from "../assets/arrow-left.svg";
import Home from "../assets/home.svg";

export default {
  name: "Product",

  data() {
    return {
      Back: Back,
      Home: Home,
      productId: "",
      shopId: null,
      showAddCmt: false,
      isActive: true,
      detailProduct: null,
      Close: Close,
      activeVariant: 0,
      cartToken: null,
      showsuccess: false,
      colletionsId: "ed49a430-3173-4c4d-b917-798f5d5ddc03",
      texttest: "",
      quanlity: 1,
      activeTab: 0,
      min: 1,
      accessToken: null,
      myRate: 5,
      title: "",
      content: "",
      image: null,
      image1: null,
      baseUrl1: null,
      reviewList: null,
      cmt_title: "",
      cmt_content: "",
      customerCurrentReview: null,
      lastViewProducts: [],
      relatedProduct: [],
      checkId: false,
      clientsTestimonialsPages: 0,
      sort_: "manual",
      allRate: 0,
      progress5: 0,
      progress4: 0,
      progress3: 0,
      progress2: 0,
      progress1: 0,
      rateText5: "0.0",
      rateText4: "0.0",
      rateText3: "0.0",
      rateText2: "0.0",
      rateText1: "0.0",
      showAddReview: false,
      fullcreen: false,
      openCart: false,
      allCart: null,
      sum_price: 0,
      quanlityLength: 0,
    };
  },
  created() {
    if (!this.cartToken) {
      this.cartToken = localStorage.getItem("token");
    }
    if (JSON.parse(localStorage.getItem("lastViewProducts"))) {
      this.lastViewProducts = JSON.parse(
        localStorage.getItem("lastViewProducts")
      );
    }
    this.productId = this.$route.params.id;
    this.shopId = this.$route.params.shopId;
    this.getaProduct();
    var searchParams3 = new URLSearchParams(window.location.search);
    this.accessToken = searchParams3.get("accessToken");
    if (this.accessToken) {
      localStorage.setItem("accessToken", this.accessToken);
      window.location.href = window.location.href.replace(
        window.location.search,
        ""
      );
    } else {
      this.accessToken = localStorage.getItem("accessToken");
    }
    this.listReview();
    this.getListProducts();
  },
  methods: {
    back_checkout() {
      history.back();
    },
    next(id) {
      this.quanlity += 1;
    },
    preview(id) {
      if (this.quanlity > 1) {
        this.quanlity -= 1;
      }
    },
    formatPhone(value) {
      let val = value.replace("+84", "0");
      return val;
    },
    formatRate(value) {
      let val = value.replace(".", "").replace("0", "");
      const x = Number(val);
      return x;
    },
    formatPrice(value) {
      let val = (value / 1).toFixed(0).replace(".", ",");
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    },
    selectVariant(varriant, i) {
      this.activeVariant = i;
      this.variantProduct = varriant;
    },
    onFileChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      this.createImage(files[0]);
    },
    onFileChange1(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      this.createImage1(files[0]);
    },
    createImage1(file) {
      var image1 = new Image();
      var reader = new FileReader();
      var vm = this;
      reader.onload = (e) => {
        vm.image1 = e.target.result;
        vm.createrImg(vm.image1);
      };
      reader.readAsDataURL(file);
    },
    createImage(file) {
      var image = new Image();
      var reader = new FileReader();
      var vm = this;
      reader.onload = (e) => {
        vm.image = e.target.result;
        vm.createrImg(vm.image);
      };
      reader.readAsDataURL(file);
    },
    removeImage: function (e) {
      this.image = "";
      this.image1 = "";
    },
    async getListProducts() {
      var collectionId = localStorage.getItem("collectionId");

      if (collectionId) {
        await HTTP.get(
          "/collections/" +
            collectionId +
            "/products" +
            "?sort=" +
            this.sort_ +
            "&skip=0&take=50"
        ).then((data) => {
          this.relatedProduct = data.data.products;
          if (this.relatedProduct.length > 0) {
            if (
              this.relatedProduct.some((person) => person.id === this.productId)
            ) {
              var index;
              index = this.relatedProduct.findIndex(
                (x) => x.id === this.productId
              );
              this.array_move(
                this.relatedProduct,
                index,
                this.relatedProduct.length - 1
              );
            }
          }
        });
        return;
      }
    },
    async createrImg(attachment) {
      const options = {
        headers: {
          Authorization: `Bearer ${this.accessToken}`,
        },
      };
      var imageBase64 = attachment.replace(/^data:image.+;base64,/, "");
      if (this.accessToken) {
        await HTTP.post(
          "/images",
          {
            attachment: imageBase64,
          },
          options
        ).then((data) => {
          this.baseUrl1 = data.data.image.publicUrl;
        });
        return;
      }
    },
    async addCmt(id) {
      const options = {
        headers: {
          Authorization: `Bearer ${this.accessToken}`,
        },
      };
      if (this.accessToken && this.baseUrl1) {
        await HTTP.post(
          "/reviews/" + id + "/comments",
          {
            images: [this.baseUrl1],
            title: this.cmt_title,
            content: this.cmt_content,
          },
          options
        ).then((data) => {
          this.showAddCmt = false;
          this.listReview();
        });
        return;
      } else {
        await HTTP.post(
          "/reviews/" + id + "/comments",
          {
            title: this.cmt_title,
            content: this.cmt_content,
          },
          options
        ).then((data) => {
          this.showAddCmt = false;
          this.listReview();
        });
        return;
      }
    },
    async listReview() {
      this.progress5 = 0;
      this.progress4 = 0;
      this.progress3 = 0;
      this.progress2 = 0;
      this.progress1 = 0;
      this.rateText5 = "0.0";
      this.rateText4 = "0.0";
      this.rateText3 = "0.0";
      this.rateText2 = "0.0";
      this.rateText1 = "0.0";
      this.allRate = 0;
      const options = {
        headers: {
          Authorization: `Bearer ${this.accessToken}`,
        },
      };
      if (this.productId && this.accessToken) {
        await HTTP.get(
          "/products/" + this.productId + "/reviews",
          options
        ).then((data) => {
          this.reviewList = data.data.reviews;
          if (data.data.customerCurrentReview) {
            this.customerCurrentReview = data.data.customerCurrentReview;
          }
          var rate5 = [];
          var rate4 = [];
          var rate3 = [];
          var rate2 = [];
          var rate1 = [];
          for (var i = 0; i < this.reviewList.length; i++) {
            this.allRate += this.formatRate(this.reviewList[i].rating);

            if (this.formatRate(this.reviewList[i].rating) == 5) {
              rate5.push(this.reviewList[i].rating);
            }
            if (this.formatRate(this.reviewList[i].rating) == 4) {
              rate4.push(this.reviewList[i].rating);
            }
            if (this.formatRate(this.reviewList[i].rating) == 3) {
              rate3.push(this.reviewList[i].rating);
            }
            if (this.formatRate(this.reviewList[i].rating) == 2) {
              rate2.push(this.reviewList[i].rating);
            }
            if (this.formatRate(this.reviewList[i].rating) == 1) {
              rate1.push(this.reviewList[i].rating);
            }
          }
          if (rate5.length > 0) {
            this.progress5 = (rate5.length / this.reviewList.length) * 100;
            this.rateText5 = (rate5.length / this.reviewList.length) * 100;
          }
          if (rate4.length > 0) {
            this.progress4 = (rate4.length / this.reviewList.length) * 100;
            this.rateText4 = (rate4.length / this.reviewList.length) * 100;
          }
          if (rate3.length > 0) {
            this.progress3 = (rate3.length / this.reviewList.length) * 100;
            this.rateText3 = (rate3.length / this.reviewList.length) * 100;
          }
          if (rate2.length > 0) {
            this.progress2 = (rate2.length / this.reviewList.length) * 100;
            this.rateText2 = (rate2.length / this.reviewList.length) * 100;
          }
          if (rate4.length > 0) {
            this.progress1 = (rate1.length / this.reviewList.length) * 100;
            this.rateText4 = (rate1.length / this.reviewList.length) * 100;
          }
          this.allRate = this.allRate / this.reviewList.length;
        });
        return;
      } else {
        await HTTP.get("/products/" + this.productId + "/reviews").then(
          (data) => {
            this.reviewList = data.data.reviews;
            var rate5 = [];
            var rate4 = [];
            var rate3 = [];
            var rate2 = [];
            var rate1 = [];
            for (var i = 0; i < this.reviewList.length; i++) {
              this.allRate += this.formatRate(this.reviewList[i].rating);
              if (this.formatRate(this.reviewList[i].rating) == 5) {
                rate5.push(this.reviewList[i].rating);
              }
              if (this.formatRate(this.reviewList[i].rating) == 4) {
                rate4.push(this.reviewList[i].rating);
              }
              if (this.formatRate(this.reviewList[i].rating) == 3) {
                rate3.push(this.reviewList[i].rating);
              }
              if (this.formatRate(this.reviewList[i].rating) == 2) {
                rate2.push(this.reviewList[i].rating);
              }
              if (this.formatRate(this.reviewList[i].rating) == 1) {
                rate1.push(this.reviewList[i].rating);
              }
            }
            if (rate5.length > 0) {
              this.progress5 = (rate5.length / this.reviewList.length) * 100;
              this.rateText5 = (rate5.length / this.reviewList.length) * 100;
            }
            if (rate4.length > 0) {
              this.progress4 = (rate4.length / this.reviewList.length) * 100;
              this.rateText4 = (rate4.length / this.reviewList.length) * 100;
            }
            if (rate3.length > 0) {
              this.progress3 = (rate3.length / this.reviewList.length) * 100;
              this.rateText3 = (rate3.length / this.reviewList.length) * 100;
            }
            if (rate2.length > 0) {
              this.progress2 = (rate2.length / this.reviewList.length) * 100;
              this.rateText2 = (rate2.length / this.reviewList.length) * 100;
            }
            if (rate4.length > 0) {
              this.progress1 = (rate1.length / this.reviewList.length) * 100;
              this.rateText4 = (rate1.length / this.reviewList.length) * 100;
            }
            this.allRate = this.allRate / this.reviewList.length;
          }
        );
        return;
      }
    },
    async creater() {
      const options = {
        headers: {
          Authorization: `Bearer ${this.accessToken}`,
        },
      };
      if (this.productId && this.baseUrl1) {
        await HTTP.post(
          "/products/" + this.productId + "/reviews",
          {
            review: {
              images: [this.baseUrl1],
              title: this.title,
              content: this.content,
              rating: this.myRate,
            },
          },
          options
        ).then((data) => {
          this.showAddReview = false;
          this.listReview();
        });
        return;
      } else {
        await HTTP.post(
          "/products/" + this.productId + "/reviews",
          {
            review: {
              title: this.title,
              content: this.content,
              rating: this.myRate,
            },
          },
          options
        ).then((data) => {
          this.listReview();
        });
        return;
      }
    },
    async deleteCmt(rvId, cmtId) {
      const options = {
        headers: {
          Authorization: `Bearer ${this.accessToken}`,
        },
      };
      await HTTP.delete(
        "/reviews/" + rvId + "/comments/" + cmtId,
        options
      ).then((data) => {
        this.listReview();
      });
      return;
    },
    async getaProduct() {
      if (this.productId) {
        await HTTP.get("/products/" + this.productId, {
          headers: {
            "X-Suplo-Shop-Id": this.shopId,
          },
        }).then((data) => {
          var local;
          this.detailProduct = data.data.product;
          this.variantProduct = this.detailProduct.variants[0];
          if (this.detailProduct) {
            local = {
              name: this.detailProduct.name,
              id: this.detailProduct.id,
              imagge: this.detailProduct.images[0].source,
              price: this.variantProduct.price,
              comparePrice: this.variantProduct.compareAtPrice,
            };
          }

          if (this.lastViewProducts.length > 0) {
            if (
              this.lastViewProducts.some((person) => person.id === local.id)
            ) {
              var index;
              index = this.lastViewProducts.findIndex((x) => x.id === local.id);
              this.array_move(
                this.lastViewProducts,
                index,
                this.lastViewProducts.length - 1
              );
            } else {
              this.lastViewProducts.push(local);
            }
          } else {
            this.lastViewProducts.push(local);
          }

          localStorage.setItem(
            "lastViewProducts",
            JSON.stringify(this.lastViewProducts)
          );
        });
        return;
      }
    },
    async renderProduct(id) {
      if (this.productId != id) {
        this.productId = id;
        await this.$router.push({
          name: "Product",
          params: {
            id: id,
            shopId: this.shopId,
          },
        });
        location.reload();
      }
    },
    array_move(arr, old_index, new_index) {
      if (new_index >= arr.length) {
        var k = new_index - arr.length + 1;
        while (k--) {
          arr.push(undefined);
        }
      }
      arr.splice(new_index, 0, arr.splice(old_index, 1)[0]);
      return arr;
    },
    async addCheckout() {
      var token = localStorage.getItem("token");
      var searchParams3 = new URLSearchParams(window.location.search);
      var domain = searchParams3.get("shopDomain");
      if (token) {
        await HTTP.post(
          "/cart" + "?domain=suplo-booking-demo" + "&token=" + token,
          {
            variantId: this.variantProduct.id,
            quantity: this.quanlity,
          }
        )
          .then((data) => {
            this.cartToken = data.data.token;
            if (this.cartToken) {
              window.location.href = "/checkout/token=" + this.cartToken;
            }
          })
          .catch((error) => {
            this.textError = error.response.data.message;
          });
        return;
      } else {
        await HTTP.post("/cart" + "?domain=suplo-booking-demo", {
          variantId: this.variantProduct.id,
          quantity: this.quanlity,
        })
          .then((data) => {
            this.cartToken = data.data.token;
            var token = localStorage.setItem("token", data.data.token);
            if (this.cartToken) {
              window.location.href = "/checkout/token=" + this.cartToken;
            }
          })
          .catch((error) => {
            this.textError = error.response.data.message;
          });
        return;
      }
    },
    async addCart() {
      var token = localStorage.getItem("token");
      var searchParams3 = new URLSearchParams(window.location.search);
      var domain = searchParams3.get("shopDomain");
      if (token) {
        await HTTP.post(
          "/cart" + "?domain=suplo-booking-demo" + "&token=" + token,
          {
            variantId: this.variantProduct.id,
            quantity: this.quanlity,
          }
        )
          .then((data) => {
            this.cartToken = data.data.token;
            this.getaCart();
            this.openCart = true;
            this.texttest = "Thêm sản phẩm vào giỏ hàng thành công";
          })
          .catch((error) => {
            this.texttest = "Đặt hàng thất bại";
            this.textError = error.response.data.message;
            this.checkorder = true;
          });
        return;
      } else {
        await HTTP.post("/cart" + "?domain=suplo-booking-demo", {
          variantId: this.variantProduct.id,
          quantity: this.quanlity,
        })
          .then((data) => {
            this.cartToken = data.data.token;
            this.getaCart();
            this.openCart = true;
            var token = localStorage.setItem("token", data.data.token);
            this.texttest = "Thêm sản phẩm vào giỏ hàng thành công";
          })
          .catch((error) => {
            this.texttest = "Đặt hàng thất bại";
            this.textError = error.response.data.message;
            this.checkorder = true;
          });
        return;
      }
    },
    //-----------------get Cart--------------//
    async getaCart() {
      var token;
      if (this.cartToken) {
        token = this.cartToken;
      } else {
        token = localStorage.getItem("token");
      }
      if (token) {
        await HTTP.get("/cart" + "?token=" + token).then((data) => {
          this.allCart = data.data.cart.items;
          for (var i = 0; i < this.allCart.length; i++) {
            this.sum_price += this.allCart[i].price * this.allCart[i].quantity;
            this.quanlityLength += data.data.cart.items[i].quantity;
          }
          if (this.allCart.length == 0) {
            localStorage.removeItem("token");
          }
        });
        return;
      }
    },
    //------------remove item--------------//
    async DeleteCart(id) {
      var token;
      if (this.cartToken) {
        token = this.cartToken;
      } else {
        token = localStorage.getItem("token");
      }
      if (id) {
        await HTTP.delete("/cart/items/" + id + "?token=" + token).then(
          (data) => {
            this.getaCart();
          }
        );
        return;
      }
    },
    getDate(datetime) {
      let date = new Date(datetime);
      let year = date.getFullYear();
      let hours = date.getHours();
      let minutes = date.getMinutes();
      let month = (1 + date.getMonth()).toString().padStart(2, "0");
      let day = date.getDate().toString().padStart(2, "0");
      return (
        hours +
        "h" +
        " : " +
        minutes +
        "p" +
        " , Ngày " +
        day +
        "/" +
        month +
        "/" +
        year
      );
    },
    winWidth: function () {
      setInterval(() => {
        var w = window.innerWidth;
        if (w < 768) {
          this.clientsTestimonialsPages = 2;
        } else if (w < 960) {
          this.clientsTestimonialsPages = 3;
        } else if (w < 1200) {
          this.clientsTestimonialsPages = 3;
        } else {
          this.clientsTestimonialsPages = 4;
        }
      }, 100);
    },
  },
  mounted() {
    this.winWidth();
  },
  filters: {
    truncate: function (text, length, suffix) {
      if (text.length > length) {
        return text.substring(0, length) + suffix;
      } else {
        return text;
      }
    },
  },
};
</script>
