<template>
<div id="app">
  <router-view />
</div>
</template>

<script>
import Cart from './components/Cart';
import Checkout from './components/Checkout';
import Collections from './components/Collections';
import Product from './components/Product';
export default {
  name: 'App',
  components: {
    Cart,
    Checkout,
    Collections,
    Product
  },
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
