*,
input,
:before,
:after {
  box-sizing: border-box;
}
.vs-sidebar.vs-sidebar-parent{
  position: fixed !important;
}
.vs-sidebar--background {
  top: 0;
}
.vs-sidebar--items{
  .popup_new1{
    padding:20px;
    position: relative;

    .a1{
      position: absolute;
      left: 10px;
      top: 10px;
    }
    .popup_cart{
      margin-top:15px;
      padding-bottom: 15px;
      border-bottom: 1px dotted #bcbcbc;
      position: relative;
      .product_content{
        display: flex;
        align-items: center;
        text-align: left;
        .product-img{
          img{
            max-width: 75px;
          }
        }
        .product-des{
          margin-left: 10px;
          h4{
            font-size: 14px;
            margin-bottom: 5px;
          }
          p{
            font-size: 12px;
            margin-bottom: 5px;
          }
          span.ProductPrice {
            font-weight: 600;
            font-size: 13px;
            color: #29b6e2;
            p{
              display: inline-block;
              color: #999;
            }
          }
          span.ComparePrice {
            margin-left: 5px;
            s {
              font-size: 12px;
              font-weight: normal;
              color: #ccc;
              text-decoration: line-through;
            }
          }
        }
      }
      .remove_item{
        position: absolute;
        right: 0;
      }
    }
    .total_price {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 15px 0;
      h3{
        font-weight: normal;
      }
      span{
        color: #29b6e2;
      }
    }
    .btn_3{
      button{
        width: 100%;
      }
    }
    .btn_1{
      margin-top: 10px;
      text-align: center;
      a{
        color: #828282 !important;
        font-weight: normal;
      }
    }
  }
}
.vs-sidebar{
  max-width: 330px !important;
}
.title_cart_nav{
  margin-top:30px;
  text-align: left;
  border-bottom: 1px dotted #bcbcbc;
  padding: 0 0 15px 0;
  h3{
    margin-bottom: 5px;
  }
}
.wrapper {
  max-width: 1000px;
  padding: 0 15px;
  margin: 0 auto;
}
.grid,
.grid--rev,
.grid--full,
.grid-uniform {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -15px;
}
.grid__item {
  box-sizing: border-box;
  float: left;
  min-height: 1px;
  padding-left: 30px;
  vertical-align: top;
  width: 100%;
}
.content_fillter_ul{
  ul{
    margin-bottom: 10px;
  }
  a{
    color: #000 !important;
    font-weight: normal;
  }
}
@media only screen and (max-width: 480px) {
  .filter_popup{
    .content_popup {
      padding: 0 15px;
      max-height: 550px;
      overflow: auto;
    }
  }
  .product_cart .product_conntent .price_product {
    span {
      font-size: 13px;
    }
  }
  .grid__item_50 {
    width: 50%;
  }
  .grid__item {
    padding-left: 15px;
  }
  .small--six-twelfths {
    width: 50%;
  }
  .grid__item_50:nth-child(2n + 1) {
    clear: both;
  }
  .grid-uniform .small--six-twelfths:nth-child(2n + 1) {
    clear: both;
  }
}

@media only screen and (min-width: 768px) {
  .grid__item_50 {
    width: 50%;
  }
  
  .grid__item_30 {
    width: 100%;
    padding-left: 15px;
  }
  .grid__item_60 {
    width: 60%;
  }
  .grid__item_40 {
    width: 40%;
  }
  .small--six-twelfths {
    width: 33%;
  }
  .grid-uniform .small--six-twelfths:nth-child(3n + 1) {
    clear: both;
  }
}

.grid__item_70 {
  width: 75%;
  padding-left: 0;
}
.filter_display{
  display: none;
  white-space: nowrap;
  margin-left: 10px;
}
.filter_popup{
  .content_popup {
    padding: 20px;
    .collapse {
      margin-bottom:20px;
    }
  }
  .content_fillter{
    input{
      width: auto;
      height: auto;
    }
    
    
  }
}
.input_{
  margin-bottom: 10px;
}
@media (max-width: 480px) {
  .grid__item_70 {
    width: 100% !important;
    padding-left: 0;
  }
}
@media only screen and (max-width: 768px) {
  .grid__item_70 {
    width: 100%;
  }
  .filter_display{
    display: block;
  }
}

.grid__item_30 {
  width: 25%;
  padding-left: 0;
}

.grid,
.grid--rev,
.grid--full,
.grid-uniform {
  *zoom: 1;
}
.carousel-list.has-shadow {
  box-shadow: none !important;
}
.seenProduct,.relatedProduct{
  .item{
    padding-left: 15px;
    padding-right: 15px;
  }
  .carousel-arrow .icon.has-icons-left {
    left: 0;
    border: 1px solid #29b6e2;
    color: #29b6e2;
  }
  .carousel-arrow .icon.has-icons-right {
    right: 0;
    border: 1px solid #29b6e2;
    color: #29b6e2;
    
  }
}
@media only screen and (max-width: 480px) {
  .seenProduct,.relatedProduct{
    margin-top:10px;
    .section-title{
      h3{
        margin-bottom: 15px;
      }
    }
    .item{
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}
.section-title{
  h3{
    font-size: 25px;
    margin-bottom: 30px;
    color: #29b6e2;
  }
}
.pagination-list{
  a.is-current{
    background: #29b6e2;
    color: #fff !important;
    border:1px solid #29b6e2
  }
}
.product--loop {
  overflow: hidden;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 6px;
  margin-bottom: 15px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  .btn_add.active {
    display: none;
  }
  .product-img{
    img{
      max-height: 200px;
      width: 100%;
      min-height: 200px;
    }
  }
  .product-content {
    padding: 15px 7px;
    .product-price {
      h3 {
        min-height: 45px;
        max-height: 45px;
        height: 100%;
      }
    }
    span.ProductPrice {
      font-weight: 600;
      font-size: 13px;
      color: #29b6e2;
    }
    span.ComparePrice {
      margin-left: 5px;
      s {
        font-size: 12px;
        font-weight: normal;
        color: #ccc;
        text-decoration: line-through;
      }
    }
  }
}
.variant_product {
  label {
    float: left;
    border-radius: 6px;
    padding: 12px 10px;
    margin: 0;
    text-align: center;
    white-space: nowrap;
    font-size: 12px;
    border: 1px solid #f2f2f2;
    cursor: pointer;
    position: relative;
    color: #4f4f4f !important;
  }
}
.variant_1 {
  margin-right: 12px;
}
.variant_1.active {
  .img-check {
    display: block;
  }
  label {
    border: 1px solid #29b6e2;
  }
}
.product_img {
  border: solid 1px #ddd;
  border-radius: 10px;
  background: #f2f2f2;
  img {
    border-radius: 22px;
    padding: 13px;
    width: 100%;
  }
}
.left {
  text-align: left;
}
.product_title {
  h1 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
  }
}
.sort_product {
  display: flex;
  align-items: center;
  span {
    display: inline-block;
    white-space: nowrap;
    margin-right: 15px;
  }
  select {
    display: block;
    border: 1px solid #f0f0f0;
    max-width: 100%;
    padding: 8px 10px;
    border-radius: 3px;
    background: #fff;

    &:focus {
      outline: 0;
    }
  }
}
.product--page-content {
  padding: 28px 23px;
  background: #fff;
  border-radius: 10px;
  border: solid 1px #ddd;
  .content_product {
    span {
      font-size: 13px;
      color: #999;
    }
  }
  .up_dow1 {
    input {
      border: none;
      text-align: center;
      max-width: 75px;
      display: block;
      background: none;
      text-align: center;
      width: 100%;
      padding: 5px 25px;
      margin: 0;
      &:focus {
        outline: none;
        border: none;
      }
    }
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    position: relative;
    max-width: 75px;
    display: inline-block;
    .up {
      cursor: pointer;
      position: absolute;
      display: block;
      top: 3px;
      bottom: 0;
      border: 0 none;
      padding: 0 8px;
      background: none;
      text-align: center;
      overflow: hidden;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      right: 0;
      border-right: 1px solid #e6e6e6;
    }
    .dow {
      cursor: pointer;
      position: absolute;
      display: block;
      top: 0;
      bottom: 0;
      border: 0 none;
      padding: 0 8px;
      background: none;
      text-align: center;
      overflow: hidden;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      left: 0;
      border-left: 1px solid #e6e6e6;
    }
  }
  .product_price {
    margin-bottom: 13px;
    span {
      display: inline-block;
    }
    .price_new {
      font-size: 17px;
      color: #000;
      font-weight: bold;
    }
    .compare_price {
      margin-left: 7px;
      s {
        color: #828282;
        font-weight: normal;
        font-size: 14px;
        opacity: 0.6;
        text-decoration: line-through;
      }
    }
    .sale {
      margin-left: 7px;
      padding: 2px 8px;
      background: #29b6e2;
      border-radius: 34px;
      font-size: 13px;
      color: #fff;
    }
  }
}
hr {
  clear: both;
  border-top: solid #e6e6e6;
  border-width: 1px 0 0;
  margin: 15px 0;
  height: 0;
}
.btn3_ {
  margin-top: 20px;
  .checkout_a{
    background: #29b6e2;
    color: #fff !important;
  }
  a {
    padding: 10px 20px;
    background: #fff;
    border: 1px solid #29b6e2;
    border-radius: 8px;
  }
}
.modal-background {
  background-color: rgba(10, 10, 10, 0.86);
  opacity: 0.2;
}
.btn1_ {
  display: block;
  margin-top: 15px;
  text-align: center;
  margin-top: 20px;
}
.btn1_ a {
  background: #29b6e2;
  color: #fff !important;
  padding: 10px 28px;
  border-radius: 8px;
}
.succes h2 {
  font-size: 20px;
  margin-bottom: 20px;
  position: relative;
  font-weight: bold;
}
.modal-close {
  display: none;
}
.card {
  padding: 20px;
  border-radius: 8px;
}
.grid__item_65 {
  width: 65%;
}
.grid__item_35 {
  width: 35%;
}
table.full {
  width: 100%;
  margin-bottom: 1em;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.cart__row {
  position: relative;
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #ccc;
}
.cart__row img {
  max-width: 120px;
  margin: auto;
}
.cart-table td,
th {
  padding: 30px 15px !important;
  border: none;
}
textarea.input-full {
  width: 100%;
  min-height: 100px;
  border: 1px solid;
  max-width: 100%;
  padding: 8px 10px;
  &::placeholder {
    color: red;
  }
}
.btn {
  display: inline-block;
  padding: 8px 30px;
  width: auto;
  margin: 0;
  line-height: 1.42;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 8px;
  background-color: #000;
  color: #fff;
}
.up_dow {
  input {
    border: none;
    text-align: center;
    max-width: 60px;
    &:focus {
      outline: none;
      border: none;
    }
  }
  padding: 5px;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal.is-active {
  display: flex;
  padding: 0 15px;
}
.bottom_fixed {
  position: fixed !important;
  right: 0;
  bottom: 0;
  width: 100%;
  left: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
}
a {
  color: #42b983;
}
.product_des {
  text-align: left;
}
.product_destripsion {
  margin-top: 20px;
  li.is-active {
    background: #29b6e2;
    border-radius: 8px 8px 0px 0px;
    a {
      color: #fff !important;
    }
  }
  .content_review{
    margin-top:30px
  }
}
.order_popup1 .animation-content {
  background: #fff;
  border-radius: 20px;
}
.checkout {
  .tabs {
    margin-bottom: 20px !important;
    display: none;
  }
  .tabs ul {
    border-bottom-color: transparent;
    background: #29b6e2;
    border-radius: 20px;
    border-bottom-width: 0px;
  }
  .tabs ul li a {
    border-bottom-color: transparent;
    color: #fff !important;
    transition: 0.3s;
  }
  .tabs li {
    display: block;
    width: 100%;
    background: #29b6e2;
    color: #fff !important;
    width: 50%;
    border-radius: 20px;
    text-align: center;
    text-transform: inherit !important;
    opacity: 0.5;
  }
  .tabs li.is-active {
    background: #fff;
    color: #29b6e2 !important;
    border: 2px solid #29b6e2;
    opacity: 1;
  }
  .tabs li.is-active a {
    border-bottom-color: transparent !important;
    color: #29b6e2 !important;
  }
  .tabs a:hover {
    border-bottom-color: transparent;
    color: #363636;
  }
  .b-tabs .tab-content {
    padding: 0;
  }
}
.card {
  border-radius: 6px;
  padding: 20px;

  text-align: left;
}
.popup_new1 {
  max-height: 550px;
  overflow: auto;
}
.popup_new2 {
  overflow: auto;
}
.add_address {
  padding: 16px 0;
  padding-bottom: 0;
}
.add_address a {
  color: #000000 !important;
  font-weight: bold;
}
.v-reset-input {
  top: 10px;
  right: 10px;
  line-height: 22px;
  font-size: 10px;
  color: #fff !important;
  width: 20px;
  height: 20px;
  padding-left: 7px;
  background: #9c9c9c;
  display: none;
  border-radius: 50%;
}
.v-reset-input.v-reset-input-active {
  display: block;
}
.adress_map input {
  border: 1px solid #eee !important;
}
.fixed {
  height: 30px;
  line-height: 30px;
  background: #29b6e2;
  color: #fff;
  width: 100%;
  margin-top: 10px;
  border: 1px solid #29b6e2;
  text-align: center;
  border-radius: 20px;
  transition: 0.3s;
}
.fixed:hover {
  border: 1px solid #29b6e2;
  color: #29b6e2;
  background: #fff;
}
.modal-content {
  max-height: 100% !important;
}
.address_update_btn {
  text-align: right;
}
a {
  color: #29b6e2 !important;
  font-weight: bold;
  transition: 0.3s;
}
/* content member */
.title_login {
  padding-bottom: 16px;
  border-bottom: 1px solid #eee;
}
.title_login a {
  color: #000;
}
.title_login a:hover {
  color: #29b6e2;
}
.content_login {
  padding: 16px 0;
  position: relative;
}
.content_login .btn_ {
  position: absolute;
  right: 0;
  bottom: 15px;
}

.search_data {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #e7e7e7;
  padding: 16px 20px;
  background: #fff;
  border-radius: 8px;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.search_data input {
  width: 100%;
  margin-right: 15px;
  background: #fff;
  border: none;
  height: 40px;
  padding: 10px;
  outline: none;
  border-radius: 3px;
  border: 1px solid #eeeeee;
}
.no-data {
  justify-content: center;
  position: relative;
}
.no-data a {
  position: absolute;
  right: 10px;
  top: 10px;
}
.modal .card {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.modal .modal-close {
  display: none;
}
.info_checkout {
  max-height: 500px;
  overflow: auto;
}
.info_checkout {
  margin-bottom: 15px;
  display: inline-block;
  overflow: auto;
  width: 100%;
}
.info_checkout .fullName_checkout {
  display: flex;
  align-items: center;
}
.mg-right20 {
  margin-right: 20px;
}
.user_logo {
  padding: 8px 16px;
  border: 1px solid #eeeeee;
}
.user_logo label {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}

.info_checkout input {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px 10px;
  font-size: 14px;
  padding-top: 15px;
}
.user_logo input {
  padding-left: 0;
  height: 30px;
}
.store_btn {
  text-align: right;
}
.address_update {
  text-align: right;
}
.address_new {
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 8px 16px;
  border: 1px solid #eeeeee;
  width: 100%;
  margin-top: 15px;
}
.address_new input {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px 10px;
  height: 40px;
  font-size: 14px;
  padding-top: 15px;
  padding-left: 0;
}
.address_new label {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}
.select_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}
.select_info select {
  width: 100%;
  height: 35px;
  line-height: 35px;
  outline: 0;
  min-width: 200px;
  border: none;
}
.select_info .select_city {
  border: 1px solid #eee;
  padding: 8px 16px;
}
.select_info .select_city label {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}
button,
input {
  outline: 0;
}
.btn_ {
  text-align: right;
}
button.btn_checkout {
  color: #fff;
  background: #29b6e2;
  border: 1px solid #29b6e2 !important;
  padding: 5px 40px;
  border-radius: 33px;
  transition: 0.3s;
}
button.btn_checkout:hover {
  border: 1px solid #29b6e2;
  color: #29b6e2;
  background: #fff;
}
.disibale {
  color: #fff;
  background: #ccc;
  padding: 5px 40px;
  border-radius: 33px;
  transition: 0.3s;
  border: none;
}
.btn_1 {
  text-align: right;
}
.product_cart {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #efefef;
}
.product_cart .product_conntent {
  margin-left: 15px;
  text-align: left;
}
.product_cart .product_conntent p {
  margin-bottom: 0;
}
.product_cart .product_conntent .price_product {
  font-weight: bold;
  color: #29b6e2;
}
.product_cart .cart__image img {
  max-width: 80px;
}
.price_provisional {
  text-align: right;
  padding-top: 20px;
}
.price_provisional span {
  display: block;
}
.price_provisional p {
  padding-bottom: 15px;
}
.price_provisional span:last-child p {
  padding-bottom: 0;
}
.content_store {
  padding-top: 15px;
  position: relative;
}
.content_store span {
  font-size: 12px;
}
.content_store h4 {
  font-size: 14px;
}
.content_store .infoLocation {
  font-size: 12px;
  font-weight: normal;
}
.content_store .test {
  margin-top: 5px;
  margin-bottom: 5px;
}
.content_store .test span {
  color: rgba(0, 0, 0, 0.6);
  font-size: 13px;
}
.content_store .btn_ {
  position: absolute;
  right: 0;
  bottom: 0;
}
.content_store .btn_ a {
  font-size: 14px;
}

.container1 {
  display: block;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container1 .checkmark {
  position: absolute;
  top: 35%;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border: 1px solid #999;
  border-radius: 50%;
}

/* Hide the browser's default checkbox */
.container1 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container1 input:checked ~ .checkmark {
  background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container1 input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container1 .checkmark:after {
  left: 3px;
  top: 3px;
  width: 12px;
  height: 12px;
  line-height: 12px;
  border: solid #29b6e2;
  background: #29b6e2;
  border-radius: 50%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.store_render {
  position: relative;
  padding-bottom: 10px;
  border-bottom: 1px solid #e7e7e7;
  padding-top: 10px;
  padding-left: 40px;
}
.store_render:last-child {
  border-bottom: none;
}
.store_render h3 {
  margin-bottom: 5px;
  font-size: 14px;
}
.store_render span.sp1 {
  color: #9c9c9c;
  font-size: 14px;
}
.store_render .distance_store span {
  font-size: 14px;
  margin-top: 5px;
}
.address_btn_pickup {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.field {
  display: flex;
  align-items: center;
  margin-bottom: 0 !important;
}
.field span {
  margin-right: 10px;
}
.field .tag {
  margin-right: 0px;
  border: 1px solid #29b6e2;
  box-sizing: border-box;
  border-radius: 49px;
  background: #fff;
  color: #29b6e2;
}
.default {
  font-size: 12px;
  margin-left: 10px;
  background: #29b6e2;
  color: #fff;
  padding: 5px 30px;
  border-radius: 49px;
}


.default_box_bottom {
  position: relative;
  margin-top: 30px;
  text-align: left;
}
.default_box_bottom .checkmark {
  position: absolute;
  top: 10px;
  left: 0px;
  height: 17px;
  width: 17px;
  background-color: #eee;
  border: 1px solid #999;
  border-radius: 0;
}
.default_box_bottom .container1:hover input ~ .checkmark {
  background-color: #ccc;
}
.default_box_bottom .container1 input:checked ~ .checkmark {
  background-color: #29b6e2;
}
.default_box_bottom .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.default_box_bottom .container1 input:checked ~ .checkmark:after {
  display: block;
}
.default_box_bottom .container1 .checkmark:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  background: transparent;
  border-radius: 0;
}
.btn_checkout_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn_checkout_bottom button.btn_new {
  padding: 5px 40px;
  background: #29b6e2;
  border-radius: 20px;
  color: #fff;
  border: none;
  transition: 0.3s;
}
.btn_checkout_bottom button.btn_new:hover {
  color: #333;
  background: #fff;
  border: 1px solid #29b6e2;
}
.btn_checkout_bottom .btn_ {
  width: auto;
}
.tab-content {
  margin-bottom: 90px;
}
.total_price span {
  font-weight: bold;
}
.set_adress_new .container1 {
  display: inline;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.set_adress_new .checkmark {
  position: absolute;
  top: 15%;
  left: 0;
  height: 17px;
  width: 17px;
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 3px;
}
.set_adress_new container1:hover input ~ .checkmark {
  background-color: #fff;
}
.set_adress_new .container1 input:checked ~ .checkmark {
  background-color: #29b6e2;
}
.set_adress_new .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.set_adress_new .container1 input:checked ~ .checkmark:after {
  display: block;
}
.set_adress_new .container1 .checkmark:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  background: transparent;
  border-radius: 0;
}
.set_adress_new {
  border: 1px solid #eee;
  padding: 16px;
}
textarea {
  width: 100%;
  border: none;
  height: 26px;
  margin: 0px;
  outline: 0;
}
.default_box {
  position: relative;
  padding: 15px 0;
  padding-bottom: 0;
  border-top: 1px solid #eee;
}
.default_box .checkmark {
  position: absolute;
  top: 25px;
  left: 0px;
  height: 17px;
  width: 17px;
  background-color: #eee;
  border: 1px solid #999;
  border-radius: 0;
}
.number_phone {
  margin-top: 16px;
}
.address_update_btn {
  width: 100%;
  padding-right: 20px;
}
.address_update_btn .sp2 {
  margin: 0 15px;
  color: #29b6e2;
}
.address_update_btn a {
  font-size: 14px;
  font-weight: normal;
}
.default_box .container1:hover input ~ .checkmark {
  background-color: #ccc;
}
.default_box .container1 input:checked ~ .checkmark {
  background-color: #29b6e2;
}
.default_box .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.default_box .container1 input:checked ~ .checkmark:after {
  display: block;
}
.default_box .container1 .checkmark:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  background: transparent;
  border-radius: 0;
}
.info_checkout1 {
  margin-bottom: 15px;
}
.info_checkout1 input {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px 10px;
  height: 40px;
  font-size: 14px;
  padding-top: 15px;
}
.info_checkout1 .fullName_checkout {
  display: flex;
  align-items: center;
}
.info_checkout1 .user_logo1 {
  display: flex;
  align-items: center;
}
.info_checkout1 img {
  max-width: 20px;
  margin-right: 15px;
}
@media (max-width: 480px) {

  .grid__item_30 {
    width: 100% !important;
    padding-left: 15px !important;
  }
  .tabs li span {
    font-size: 13px;
  }
  .product_img {
    margin-bottom: 10px;
  }
  .btn1_ {
    a {
      display: block;
      padding: 0 10px;
    }
    .afff {
      margin-top: 10px;
    }
  }
  .fullName_checkout {
    display: block !important;
  }
  .select_info {
    display: block !important;
  }
  .user_logo {
    width: 100% !important;
  }
  .select_info .select_city {
    margin-right: 0 !important;
    margin-left: 0 !important;
    margin-bottom: 15px;
  }
  .mg-right20 {
    margin-right: 0;
  }
  .user_logo.mg-right20 {
    margin-bottom: 15px;
  }
  .popup_store {
    max-height: 450px;
    overflow: auto;
  }
  .disibale {
    color: #fff;
    background: #ccc;
    padding: 5px 30px !important;
    font-size: 13px;
    border-radius: 33px;
    transition: 0.3s;
  }
  .store_render .title_adress {
    margin-bottom: 10px;
  }
  .store_render .title_adress h3 {
    display: block !important;
  }
  .store_render .title_adress .sp2 {
    display: none;
  }
  .btn_checkout_bottom {
    display: block !important;
  }
  .btn_checkout_bottom .btn_ {
    margin-top: 5px;
  }
  .btn_checkout_bottom .btn_new {
    padding: 5px 30px !important;
    font-size: 13px;
  }
  .btn_checkout_bottom_pickup {
    display: block !important;
  }
  .btn_checkout_bottom_pickup .btn_ {
    margin-top: 5px;
  }
  .btn_checkout_bottom_pickup .btn_new {
    padding: 5px 30px !important;
    font-size: 13px;
  }
}
.bottom_fixed_4 {
  background: #29b6e2;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.18);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.18);
  border-radius: 40px;
  right: 0;
  bottom: 30px;
  left: 0;
  z-index: 10;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  a {
    color: #fff !important;
    width: 100%;
  }
}
.order_product {
  display: flex;
  align-items: center;
  padding: 14px 0;
  border-bottom: 1px solid #f2f2f2;

  span {
    display: block;
  }
  .order_des {
    h3 {
      font-weight: bold;
      font-size: 13px;
    }
    .product_title {
      font-size: 11px;
      font-weight: 300;
    }
    .content_price {
      span {
        display: inline-block;
      }
      .product_price {
        color: #29b6e2;
        font-weight: normal;
        font-size: 13px;
      }
      .product_compareAtPrice {
        margin-left: 7px;
        s {
          font-size: 11px;
          color: #9c9c9c;
          text-decoration: line-through;
        }
      }
    }
  }
}
.order_popup {
  .total_price {
    text-align: right;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .card {
    max-height: 700px !important;
    border-radius: 20px;
  }
  .animation-content {
    padding: 44px 26px;
    padding-bottom: 90px;
  }
  .detail_order {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #f2f2f2;
    .title_top {
      text-align: center;
      margin-bottom: 15px;
      h3 {
        font-weight: bold;
        font-size: 19px;
      }
    }
    .content_customer {
      p {
        display: inline-block;
      }
      h3 {
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 12px;
        span {
          font-weight: normal;
          margin-bottom: 0;
          display: inline-block;
        }
      }
      span {
        margin-bottom: 12px;
        font-weight: bold;
        font-size: 15px;
        display: block;
        p {
          font-weight: normal;
        }
      }
    }
  }
  .modal-background {
    background-color: rgba(10, 10, 10, 0.86);
    opacity: 0.2;
  }
  .search_data {
    border-bottom: 0;
  }
  .img_checkorder {
    text-align: center;
    margin-top: 40px;
    img {
      margin-bottom: 20px;
    }
    h3 {
      font-weight: bold;
      font-size: 21px;
      margin-bottom: 10px;
    }
    p {
      font-weight: normal;
      font-size: 15px;
      margin-bottom: 10px;
    }
    span {
      font-weight: 600;
      font-size: 15px;
    }
  }
  .all_product {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .order_img {
    img {
      max-width: 60px;
    }
  }
}
.order_popup1 {
  .total_price {
    text-align: right;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .card {
    max-height: 700px !important;
    border-radius: 20px;
  }
  .detail_order {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #f2f2f2;
    .title_top {
      text-align: center;
      margin-bottom: 15px;
      h3 {
        font-weight: bold;
        font-size: 19px;
      }
    }
    .content_customer {
      p {
        display: inline-block;
      }
      h3 {
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 12px;
        span {
          font-weight: normal;
          margin-bottom: 0;
          display: inline-block;
        }
      }
      span {
        margin-bottom: 12px;
        font-weight: bold;
        font-size: 15px;
        display: block;
        p {
          font-weight: normal;
        }
      }
    }
  }
  .modal-background {
    background-color: rgba(10, 10, 10, 0.86);
    opacity: 0.2;
  }
  .search_data {
    border-bottom: 0;
  }
  .img_checkorder {
    text-align: center;
    margin-top: 40px;
    img {
      margin-bottom: 20px;
    }
    h3 {
      font-weight: bold;
      font-size: 21px;
      margin-bottom: 10px;
    }
    p {
      font-weight: normal;
      font-size: 15px;
      margin-bottom: 10px;
    }
    span {
      font-weight: 600;
      font-size: 15px;
    }
  }
  .all_product {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .order_img {
    img {
      max-width: 60px;
    }
  }
}
.review_prod,.content_review {
  input {
    width: 100%;
    padding: 10px 20px;
    background: #fff;
    border: 1px solid #f2f2f2;
    border-radius: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  textarea {
    width: 100%;
    padding: 10px 20px;
    background: #fff;
    border: 1px solid #f2f2f2;
    border-radius: 8px;
    margin-top: 15px;
    height: 100px;
    margin-bottom: 15px;
  }
  .Rate .icon {
    width: 25px;
    height: 25px;
  }
  .close_img {
    padding: 5px 15px;
    background: #29b6e2;
    border: 1px solid #29b6e2;
    border-radius: 8px;
    color: #fff;
    margin-left: 15px;
  }
}
.content_listrv{
  box-shadow: 1px 1px 30px -3px rgba(0,0,0,0.1), 5px 4px 6px -2px rgba(0,0,0,0.05);
  padding:20px;
  border-radius: 10px;
  .title_login2{
    display: none;
    width: 100%;
    text-align: center;
    margin-top: 15px;
    a.a1{
      background: #29b6e2;
      color:#FFF !important;
      padding: 10px;
      margin-top: 5px;
      border-radius: 10px;
      width: 100%;
      display: block;
    }
  }
  .rate_right{
    .rate__{
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      .progress-wrapper{
        width: 100%;
        margin-bottom: 0;
      }
      .rate_text{
        margin-left: 5px;
      }
    }
    .rating{
      .rating-content i{
        color: #ccc;
      }
      
    }



  }
  
}
.all_rate{
  display: flex;
  align-items: center;
  text-align: center;
  .rate_all{
    width: 30%;
    padding: 15px;
    
  }
  .rate_right{
    width: 40%;
    padding: 20px;
    border-left: 2px solid #f1f1f1;
    border-right: 2px solid #f1f1f1
  }
  .title_login1{
    width: 30%;
    padding: 20px;
    span{
      margin-bottom: 15px;
      display: block;
    }
    a.a1{
      background: #29b6e2;
      color:#FFF !important;
      padding: 10px;
      border-radius: 10px;
    }
  }
  
  h3{
    display: block;
    font-size:18px
  }
  .rating-content {
    line-height: 1;
    position: relative;
    white-space: nowrap;
    display: inline-block;
  }
  .rating-content i {
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    margin: 0.1rem;
    color: #ffc120;
    text-rendering: auto;
    font-size: 15px;
  }
  .rating {
    margin: 0 10px 0 0;
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
  }
}
@media only screen and (max-width: 480px) {
 
  .content_listrv{
    padding: 15px;
    .all_rate{
      .rate_right{
        width: 70%;
        border-right: 0;
        padding: 10px;
        padding-right: 0;
      }
    }
    .title_login1{
      display: none;
      a.a1{
        display: block;
        font-size: 13px;
      }
    }
    .title_login2{
      display: block;
    }
  }
  .product_destripsion{
    .tab-content{
      padding:0 !important
    }
  }
  .all_rate{
    .rate_all{
      white-space: nowrap;
      padding-left: 0;
    }
    .rating{
      margin: 0 2px 0 0;
      .rating-content i{
        font-size: 12px;
      }
    }
    .lenght_review{
      font-size: 12px;
    }
  }
}
@media only screen and (max-width: 768px) {
  .content_listrv{
    .title_login1{
      a{
        display: block;
        font-size: 13px;
      }
    }
  }
}
.listReview {
  padding: 30px 0;
  .content_ {
    display: flex;
    .img_customer {
      text-align: center;
      width: 30%;
      img {
        max-width: 60px;
        border-radius: 50%;
      }
      .customer_content {
        margin-top: 5px;
      }
    }
    .content_cmt {
      margin-left: 30px;
      width: 100%;
    }
  }
  .rating-content {
    line-height: 1;
    position: relative;
    white-space: nowrap;
    display: inline-block;
  }
  .rating-content i {
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    margin: 0.1rem;
    color: #ffc120;
    text-rendering: auto;
    font-size: 15px;
  }
  .rating {
    margin: 0 10px 0 0;
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
  }
  .title_cmt {
    display: inline-block;
    font-weight: bold;
  }
  .add_cmt {
    a {
      margin-right: 15px;
      font-weight: normal;
    }
  }
  .des_cmt {
    margin: 10px 0;
  }
  .img_cmt{
    img{
      max-width: 70px;
    }
  }
}
.popup_add {
  .field {
    display: block;
    margin-bottom: 10px !important;
    input {
      &:focus {
        border-color: #29b6e2;
      }
    }
  }
}
.btn4_new {
  text-align: right;
}
.close_img1 {
  padding: 5px 15px;
  background: #29b6e2;
  border: 1px solid #29b6e2;
  border-radius: 8px;
  color: #fff;
  margin-left: 15px;
}
button.delete {
  display: none;
}
.list_cmt {
  display: flex;
  padding: 10px;
  background: #f2f2f2;
  margin-bottom: 15px;
}
.notification {
  background: transparent;
  padding: 0;
  a {
    text-decoration: none !important;
    font-size: 12px;
  }
}
.control-label {
  white-space: nowrap;
}
.card_new {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content_fillter {
  label {
    margin-bottom: 15px;
  }
}
.collection_filter {
  span.checkbox-label{
    margin-left: 5px;
  }
  .collapse {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .small--hide--smb {
    display: none;
  }
  .collection_filter{
    display: none;
  }
}

.mobile--hide {
  display: none;
  .cart__row {
    border-top: none;
  }
  .grid__item {
    padding-left: 0;
  }
  .cart__section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    background: #f1f1f1;
    position: relative;
    .up_dow {
      input {
        border: none;
        text-align: center;
        max-width: 75px;
        display: block;
        background: none;
        text-align: center;
        width: 100%;
        margin: 0;
        &:focus {
          outline: none;
          border: none;
        }
      }
      border: 1px solid #fff;
      background: #fff;
      border-radius: 5px;
      position: relative;
      max-width: 75px;
      display: block;
      .up {
        cursor: pointer;
        position: absolute;
        display: block;
        top: 3px;
        bottom: 0;
        border: 0 none;
        padding: 0 8px;
        background: none;
        text-align: center;
        overflow: hidden;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        right: 0;
        border-right: 1px solid #e6e6e6;
      }
      .dow {
        cursor: pointer;
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        border: 0 none;
        padding: 0 8px;
        background: none;
        text-align: center;
        overflow: hidden;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        left: 0;
        border-left: 1px solid #e6e6e6;
      }
    }
    .cart__image {
      margin-right: 20px;
      img {
        max-width: 80px;
        margin: auto;
      }
    }
  }
  .content_cart {
    text-align: left;

    h5 {
      margin-bottom: 5px;
      white-space: nowrap;
    }
  }
  .sp6 {
    width: 100%;
    text-align: right;
    .h3 {
      display: block;
      font-size: 14px;
      font-weight: bold;
      color: #29b6e2;
    }
  }
  .btn {
    background: #29b6e2;
  }
}
@media only screen and (max-width: 768px) {

  .mobile--hide{
    display: block;
  }
  
}
.StepProgress-item{
  display: block;
}
.detail_rivew{
  margin-top: 20px;
}

.orderdetail_popup {
  
  .content_popup {
    padding: 0 15px;
    max-height: 550px;
    overflow: auto;
  }
  .animation-content {
    padding-bottom: 90px;
  }
  .modal-background {
    background: #e5e5e5;
  }
  .card {
    margin-top: 20px;
    padding: 10px;
    border-radius: 0;
    .code_order {
      font-size: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 600;
      margin-bottom: 5px;
    }
    .code_order1 {
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 14px;
      margin-bottom: 14px;
      border-bottom: 1px solid #f2f2f2;
    }

    .items_order {
      border-bottom: 1px solid #f2f2f2;
      .items_content {
        display: flex;
        align-items: center;
        padding: 16px 0;
        border-bottom: 1px solid #f2f2f2;
        .items_img {
          img {
            max-width: 60px;
          }
        }
        .items_info {
          font-size: 13px;
          margin-left: 10px;
          h3 {
            margin-bottom: 3px;
            font-size: 13px;
          }
          span {
            font-weight: 300;
            font-size: 11px;
          }
          .items_price {
            font-size: 13px;

            span {
              display: inline-block;
            }
            .product_price {
              font-weight: bold;
              color: #29b6e2;
            }
            .product_compareAtPrice {
              margin-left: 7px;
              font-size: 11px;
              s {
                opacity: 0.6;
              }
            }
          }
        }
      }
    }
    .total_price {
      text-align: right;
      margin-top: 16px;
    }
    .store_order {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 14px;
      border-bottom: 1px solid #f2f2f2;
      font-weight: bold;
    }
    .note_{
      input{
        padding: 15px;
        background: transparent;
      }
    }
    .staff_order {
      margin-top: 10px;
      .staff_img {
        display: flex;
        align-items: center;
        img {
          max-width: 27px;
          border-radius: 50%;
        }
        span {
          margin-left: 10px;
        }
      }
    }
    .time_order {
      margin-top: 14px;
      padding-bottom: 14px;
      border-bottom: 1px solid #f2f2f2;
    }
    .time_date1 {
      display: flex;
      align-items: center;
      .date {
        padding: 10px 25px;
        font-size: 15px;
        letter-spacing: 0.05em;
        border: 1px solid #eeeeee;
        border-radius: 8px;
      }
      .time {
        display: flex;
        align-items: center;
        span {
          margin-right: 8px;
          margin-left: 8px;
        }
        .time_ {
          border: 1px solid #eeeeee;
          border-radius: 8px;
          padding: 9px 15px;
        }
      }
    }
    .title_store {
      margin-bottom: 7px;
      h3 {
        font-weight: bold;
      }
    }
  }
  .search_data.no-data {
    padding: 20px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
.StepProgress {
  position: relative;
  padding-left: 50px;
  list-style: none;
  font-weight: normal;
  font-size: 15px;
  &::before {
    display: inline-block;
    content: "";
    position: absolute;
    top: 6px;
    left: 5px;
    width: 10px;
    height: 90%;
    border-left: 1px solid #29b6e2;
  }

  &-item {
    position: relative;
    counter-increment: list;
    &:last-child {
      &::before {
        display: none;
      }
    }
    &:not(:last-child) {
      padding-bottom: 20px;
    }

    &::before {
      display: inline-block;
      content: "";
      position: absolute;
      left: -45px;
      height: 100%;
      width: 10px;
    }

    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 5px;
      left: -49px;
      width: 9px;
      height: 8px;
      border: 1px solid #29b6e2;
      border-radius: 50%;
      background-color: #fff;
    }

    &.is_done {
      &::before {
        border-left: 1px solid #29b6e2;
      }
      &::after {
        content: "✔";
        font-size: 8px;
        color: #fff;
        text-align: center;
        border: 1px solid #29b6e2;
        background-color: #29b6e2;
        width: 13px;
        height: 12px;
        left: -50px;
        top: 0;
      }
    }

    &.current {
      &::before {
        border-left: 1px solid #29b6e2;
      }

      &::after {
        content: "";
        padding-top: 1px;
        width: 9px;
        height: 9px;
        top: 0px;
        left: -49px;
        font-size: 9px;
        text-align: center;
        color: #29b6e2;
        border: 1px solid #29b6e2;
        background-color: #29b6e2;
      }
    }
  }

  span {
    display: block;
    font-size: 15px;
    font-weight: normal;
  }
  p {
    font-size: 14px;
    font-weight: 300;
  }
}
.total_allcart{
  margin-bottom: 20px;
  .total_cart{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    span{
      font-weight: bold;
    }
  }
 
}
@media only screen and (min-width: 768px) {
  .bottom_fixed_4{
    position:absolute !important;
    display:inline-block;
    padding:10px 10px !important;
    width:auto;
    margin-left:15px;
    bottom:10px;
    margin-right:15px
  }
  .orderdetail_popup {
    .modal.is-full-screen > .animation-content {
      max-height: 80vh;
    }
    .modal-content{
      overflow: inherit;
    }
  }
  .popup_store {
    max-height: 500px;
    overflow: auto;
  }
  .orderreview_popup,.reviewdetail_popup{
    .modal.is-full-screen > .animation-content {
      max-height: 80vh;
    }
    .modal-content{
      overflow: inherit;
    }
    .animation-content {
      max-width: 600px !important;
      padding-bottom: 30px !important;
      border-radius: 12px;
      background: #fff;
      box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    }
  }
  .orderdetail_popup {
    .animation-content {
      max-width: 600px !important;
      padding-bottom: 30px !important;
      border-radius: 12px;
      background: #fff;
      box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    }
  }
}
.orderreview_popup,.reviewdetail_popup {
  .modal-background {
    display: none;
  }
  .animation-content {
    padding: 44px 15px;
    padding-bottom: 90px;
    background: #fff;
  }
  .search_data {
    border-bottom: none;
  }
  .content_popup {
    margin-top: 20px;
    padding-bottom: 40px;
    .title_review {
      text-align: center;
      h3 {
        font-weight: normal;
        font-size: 15px;
      }
    }
    .content_review {
      margin-top: 10px;
      text-align: center;
      span {
        display: block;
        font-weight: 600;
        font-size: 17px;
        margin-top: 10px;
        margin-bottom: 22px;
      }
      img {
        border-radius: 50%;
      }

      .Rate {
        .icon {
          width: 30px;
          height: 30px;
        }
      }
    }
    .review_tag {
      color: #e72870;
      font-size: 15px;
      margin-top: 10px;
    }
    .des_review {
      margin-top: 22px;
      textarea {
        padding: 10px;
        height: 200px;
        border: 1px solid #f2f2f2;
        border-radius: 6px;
        width: 100%;
        &::placeholder {
          color: #4f4f4f;
          opacity: 0.6;
          
        }
        &:focus {
          outline: 0;
        }
      }
    }
  }
  .suggestions_reivew {
    margin-top: 10px;
    a.active {
      background: #e72870;
      border-radius: 40px;
      color: #fff !important;
      padding: 7px 17px;
    }
    a {
      border-radius: 40px;
      border: 1px solid #f2f2f2;
      color: #4f4f4f !important;
      padding: 7px 17px;
      margin-right: 10px;
      display: inline-block;
      margin-bottom: 10px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
.animation-content{
  background: #fff;
}

.listorder_popup {
  .staff_review{
    text-align: right;
  }
  .staff_review {
    a {
      padding: 5px 20px;
      font-weight: bold;
      font-size: 15px;
      background: #29b6e2;
      border-radius: 34px;
      color: #fff !important;
    }
  }
  .staff_review_rate {
    font-weight: 300;
    text-align: right;
    opacity: 0.6;
    a{
      font-size: 13px;
      color: #4f4f4f !important;
    }
  }
  .search_data.no-data {
    padding: 20px;
    background: #ffffff;
  }
  .no-data a {
    position: static;
    img {
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }
  .popup_new1 {
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-bottom: 40px;
  }
  .content {
    padding: 0 5px;
  }
  .modal-background {
    background: #e5e5e5;
  }
  .card {
    margin-top: 20px;
    padding: 10px;
    .code_order {
      font-size: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 600;
      margin-bottom: 5px;
    }
    .time_order {
      font-size: 13px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #4f4f4f;
      font-weight: normal;
      .time_ {
        font-weight: 300;
      }
    }
    .items_order {
      padding: 16px 0;
      border-top: 1px solid #f2f2f2;
      border-bottom: 1px solid #f2f2f2;
      margin-top: 16px;
      .items_content {
        display: flex;
        align-items: center;
        .items_img {
          img {
            max-width: 60px;
          }
        }
        .items_info {
          font-size: 13px;
          margin-left: 10px;
          h3 {
            margin-bottom: 5px;
            font-size: 13px;
          }
          .items_price {
            font-size: 13px;

            span {
              display: inline-block;
            }
            .product_price {
              font-weight: bold;
              color: #29b6e2;
            }
            .product_compareAtPrice {
              margin-left: 7px;
              font-size: 11px;
              s {
                opacity: 0.6;
              }
            }
          }
        }
      }
    }
    .branch_order {
      margin-top: 10px;
      font-size: 13px;
      span {
        font-weight: bold;
        p {
          font-weight: normal;
          display: inline-block;
        }
      }
    }
    .staff_order {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 10px;
      .staff_img {
        display: flex;
        align-items: center;
        img {
          max-width: 27px;
          border-radius: 50%;
        }
        span {
          margin-left: 10px;
        }
      }
      .staff_review {
        a {
          padding: 5px 20px;
          font-weight: bold;
          font-size: 15px;
          background: #e72870;
          border-radius: 34px;
          color: #fff !important;
        }
      }
      .staff_review_rate {
        font-weight: 300;

        opacity: 0.6;
        a {
          font-size: 13px;
          color: #4f4f4f !important;
        }
      }
    }
  }
}
#promotion_modal {
  .snackbar {
    padding: 0;
  }
  .search_data {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
    border-radius: 12px 12px 0px 0px;
    padding: 16px;
    input {
      margin-left: 0;
    }
  }
  .promotion_content {
    padding: 10px 20px;
    background: #f7f8f9;
    margin-top: 5px;
    max-height: 500px;
    overflow: auto;
    .store_render {
      padding-left: 0px;
      border-bottom: 0;
      background: #fff;
      border-radius: 6px;
      padding-top: 0;
      margin-bottom: 20px;
      h3 {
        margin-bottom: 0;
        font-size: 15px;
        color: #4f4f4f;
      }
      .content_des {
        padding: 23px 16px;
        position: relative;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
        a {
          font-weight: bold;
          font-size: 17px;
        }
        &.expies{
          opacity: 0.5;
          a{
            color:#999 !important
          }
        }
        &::after {
          content: "";
          position: absolute;
          width: 16px;
          height: 16px;
          left: 125px;
          border-radius: 50%;
          top: -6px;
          background: #f7f8f9;
          z-index: 2;
        }
        &::before {
          content: "";
          position: absolute;
          width: 16px;
          height: 16px;
          left: 125px;
          border-radius: 50%;
          bottom: -9px;
          background: #f7f8f9;
          z-index: 2;
        }
      }
    }
    .checkmark {
      left: 15px;
      top: 45%;
    }
  }
}